examples/redis-example/flows.json
[
    {
        "id": "e4b07564.01839",
        "type": "tab",
        "label": "Redis Test Pub/Sub",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3aa6f007.48ac5",
        "type": "tab",
        "label": "Scheduler API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5ed67383.5985ac",
        "type": "redis-config",
        "z": "",
        "name": "redis:6379",
        "options": "{\"host\":\"redis\"}",
        "cluster": false,
        "optionsType": "json"
    },
    {
        "id": "e243645d.ca73d",
        "type": "catch",
        "z": "e4b07564.01839",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 340,
        "y": 80,
        "wires": [
            [
                "3f083548.5e6872"
            ]
        ]
    },
    {
        "id": "3f083548.5e6872",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 850,
        "y": 80,
        "wires": []
    },
    {
        "id": "c1fdda7e.4998e",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 850,
        "y": 280,
        "wires": []
    },
    {
        "id": "2748a823.cc0fb8",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 340,
        "y": 280,
        "wires": [
            [
                "a5c184a7.083b6"
            ]
        ]
    },
    {
        "id": "a5c184a7.083b6",
        "type": "redis-out",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "command": "rpush",
        "name": "",
        "topic": "test",
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "b1bbbc65.621988",
        "type": "redis-in",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "command": "blpop",
        "name": "",
        "topic": "test",
        "timeout": 0,
        "x": 590,
        "y": 280,
        "wires": [
            [
                "c1fdda7e.4998e"
            ]
        ]
    },
    {
        "id": "5dd59cd5.7e4894",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "",
        "payload": "{\"a\":1,\"b\":2}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 340,
        "y": 240,
        "wires": [
            [
                "a5c184a7.083b6"
            ]
        ]
    },
    {
        "id": "7d3f4780.4c4e7",
        "type": "redis-command",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "command": "getset",
        "name": "",
        "topic": "timestamp",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 640,
        "y": 340,
        "wires": [
            [
                "fd1d86cf.b829e8"
            ]
        ]
    },
    {
        "id": "b8b91eb4.0fa498",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 340,
        "y": 340,
        "wires": [
            [
                "7d3f4780.4c4e7"
            ]
        ]
    },
    {
        "id": "fd1d86cf.b829e8",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 870,
        "y": 340,
        "wires": []
    },
    {
        "id": "e2b59649.9425a8",
        "type": "redis-command",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "command": "set",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 600,
        "y": 400,
        "wires": [
            [
                "759d82c8.410f94"
            ]
        ]
    },
    {
        "id": "146b63bf.3a2304",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "",
        "payload": "[\"key\",\"value\"]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 330,
        "y": 400,
        "wires": [
            [
                "e2b59649.9425a8"
            ]
        ]
    },
    {
        "id": "759d82c8.410f94",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 870,
        "y": 400,
        "wires": []
    },
    {
        "id": "808c1d9d.6c2eb8",
        "type": "redis-command",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "command": "getset",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 610,
        "y": 440,
        "wires": [
            [
                "d703137.5fc61f"
            ]
        ]
    },
    {
        "id": "a902c57c.163798",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "key",
        "payload": "[\"value\"]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 330,
        "y": 440,
        "wires": [
            [
                "808c1d9d.6c2eb8"
            ]
        ]
    },
    {
        "id": "d703137.5fc61f",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 870,
        "y": 440,
        "wires": []
    },
    {
        "id": "b053ca6b.308788",
        "type": "redis-command",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "command": "hmset",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 610,
        "y": 560,
        "wires": [
            [
                "4f702c32.a1a894"
            ]
        ]
    },
    {
        "id": "c7b1d7f7.9b4d",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "myHash",
        "payload": "{\"a\":1,\"b\":2}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 310,
        "y": 560,
        "wires": [
            [
                "b053ca6b.308788"
            ]
        ]
    },
    {
        "id": "4f702c32.a1a894",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 870,
        "y": 560,
        "wires": []
    },
    {
        "id": "8ac0d118.c0c9c8",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 350,
        "y": 600,
        "wires": [
            [
                "46a46523.33b9ec"
            ]
        ]
    },
    {
        "id": "535e49ed.a6e288",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 870,
        "y": 600,
        "wires": []
    },
    {
        "id": "46a46523.33b9ec",
        "type": "redis-command",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "command": "hgetall",
        "name": "",
        "topic": "myHash",
        "params": "{}",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 640,
        "y": 600,
        "wires": [
            [
                "535e49ed.a6e288"
            ]
        ]
    },
    {
        "id": "7ba7dcee.e25fd4",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 350,
        "y": 680,
        "wires": [
            [
                "decd1758.c97638"
            ]
        ]
    },
    {
        "id": "b0bc6387.91dda",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 870,
        "y": 680,
        "wires": []
    },
    {
        "id": "decd1758.c97638",
        "type": "redis-command",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "command": "sadd",
        "name": "",
        "topic": "mySet",
        "params": "[\"memberA\",\"memberB\",\"memberC\"]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 630,
        "y": 680,
        "wires": [
            [
                "b0bc6387.91dda"
            ]
        ]
    },
    {
        "id": "ed7744a6.1d9678",
        "type": "redis-command",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "command": "get",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 600,
        "y": 480,
        "wires": [
            [
                "8e3c0cfb.0f2438"
            ]
        ]
    },
    {
        "id": "c9f29416.d515e8",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "key",
        "payload": "[]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 350,
        "y": 480,
        "wires": [
            [
                "ed7744a6.1d9678"
            ]
        ]
    },
    {
        "id": "8e3c0cfb.0f2438",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 850,
        "y": 480,
        "wires": []
    },
    {
        "id": "cc391a6d.befb98",
        "type": "redis-lua-script",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "name": "test",
        "keyval": 0,
        "func": "local text = \"Hello World\"\nreturn text",
        "stored": true,
        "block": false,
        "x": 590,
        "y": 800,
        "wires": [
            [
                "c63d14bb.a26de8"
            ]
        ]
    },
    {
        "id": "5a160ea3.5945c",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 340,
        "y": 800,
        "wires": [
            [
                "cc391a6d.befb98"
            ]
        ]
    },
    {
        "id": "c63d14bb.a26de8",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 850,
        "y": 800,
        "wires": []
    },
    {
        "id": "a777fb82.5d752",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 350,
        "y": 720,
        "wires": [
            [
                "5727f749.985af"
            ]
        ]
    },
    {
        "id": "418c4974.8cca2",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 870,
        "y": 720,
        "wires": []
    },
    {
        "id": "5727f749.985af",
        "type": "redis-command",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "command": "sismember",
        "name": "",
        "topic": "mySet",
        "params": "[\"memberC\"]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 640,
        "y": 720,
        "wires": [
            [
                "418c4974.8cca2"
            ]
        ]
    },
    {
        "id": "ae93cacc.5a7bb",
        "type": "redis-lua-script",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "name": "test2",
        "keyval": 0,
        "func": "local text = \"Hello2222 World2222\"\nreturn text",
        "stored": false,
        "block": false,
        "x": 590,
        "y": 860,
        "wires": [
            [
                "2865dd1f.1302ea"
            ]
        ]
    },
    {
        "id": "b2b7f693.57874",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 340,
        "y": 860,
        "wires": [
            [
                "ae93cacc.5a7bb"
            ]
        ]
    },
    {
        "id": "2865dd1f.1302ea",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 850,
        "y": 860,
        "wires": []
    },
    {
        "id": "bd4e0b13.326ab8",
        "type": "redis-in",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "command": "psubscribe",
        "name": "",
        "topic": "TOPIC:*",
        "timeout": 0,
        "x": 600,
        "y": 120,
        "wires": [
            [
                "24edccd4.85a944"
            ]
        ]
    },
    {
        "id": "24edccd4.85a944",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 850,
        "y": 120,
        "wires": []
    },
    {
        "id": "207138fd.060ff8",
        "type": "redis-in",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "command": "subscribe",
        "name": "",
        "topic": "TOPIC:OK",
        "timeout": 0,
        "x": 600,
        "y": 180,
        "wires": [
            [
                "917bf96b.89edf8"
            ]
        ]
    },
    {
        "id": "917bf96b.89edf8",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 850,
        "y": 180,
        "wires": []
    },
    {
        "id": "f2c7a781.66704",
        "type": "redis-out",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "command": "publish",
        "name": "",
        "topic": "TOPIC:OK",
        "x": 410,
        "y": 180,
        "wires": []
    },
    {
        "id": "1790f38a.cb2434",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "",
        "payload": "{\"a\":1,\"b\":2}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 340,
        "y": 120,
        "wires": [
            [
                "f2c7a781.66704"
            ]
        ]
    },
    {
        "id": "61dff92c.eb1c5",
        "type": "redis-command",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "command": "del",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 600,
        "y": 920,
        "wires": [
            [
                "c3fb3495.67a15"
            ]
        ]
    },
    {
        "id": "bd2e0191.0a3b1",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "key",
        "payload": "[]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 350,
        "y": 920,
        "wires": [
            [
                "61dff92c.eb1c5"
            ]
        ]
    },
    {
        "id": "c3fb3495.67a15",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 850,
        "y": 920,
        "wires": []
    },
    {
        "id": "acd045d5.d4198",
        "type": "redis-instance",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "name": "",
        "topic": "redis",
        "location": "flow",
        "block": false,
        "x": 350,
        "y": 980,
        "wires": []
    },
    {
        "id": "3e20faed.328636",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 340,
        "y": 1020,
        "wires": [
            [
                "28381f63.bbc788"
            ]
        ]
    },
    {
        "id": "28381f63.bbc788",
        "type": "function",
        "z": "e4b07564.01839",
        "name": "",
        "func": "let redis = context.flow.get('redis');\n\nredis.info().then((data)=>{\n    msg.payload = data\n    node.send(msg);\n})\n\n/*\nredis.call(\"anycmd\").then((data)=>{\n    msg.payload = data\n    node.send(msg);\n})*/",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 1020,
        "wires": [
            [
                "60607f08.3019e8"
            ]
        ]
    },
    {
        "id": "60607f08.3019e8",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 850,
        "y": 1020,
        "wires": []
    },
    {
        "id": "25a2fec6.2b338a",
        "type": "catch",
        "z": "3aa6f007.48ac5",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 140,
        "y": 800,
        "wires": [
            [
                "ec5781c3.279e38"
            ]
        ]
    },
    {
        "id": "ec5781c3.279e38",
        "type": "debug",
        "z": "3aa6f007.48ac5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 990,
        "y": 800,
        "wires": []
    },
    {
        "id": "27e1d8de.526",
        "type": "function",
        "z": "3aa6f007.48ac5",
        "name": "TimeIndex",
        "func": "msg.payload = [ msg.triggerTimeMs, msg.uuid ]\nmsg.topic = \"tasks\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 100,
        "wires": [
            [
                "a28df3f.d65dc1"
            ]
        ]
    },
    {
        "id": "9d4fa69d.17c318",
        "type": "http in",
        "z": "3aa6f007.48ac5",
        "name": "",
        "url": "/tasks",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "4bf05afa.03515c"
            ]
        ]
    },
    {
        "id": "2931ff0.2f6ad82",
        "type": "debug",
        "z": "3aa6f007.48ac5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1390,
        "y": 180,
        "wires": []
    },
    {
        "id": "15d8cf6f.856939",
        "type": "http response",
        "z": "3aa6f007.48ac5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 300,
        "wires": []
    },
    {
        "id": "a28df3f.d65dc1",
        "type": "redis-command",
        "z": "3aa6f007.48ac5",
        "server": "5ed67383.5985ac",
        "command": "zadd",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1060,
        "y": 140,
        "wires": [
            [
                "83b2d754.4f0a48"
            ]
        ]
    },
    {
        "id": "4bf05afa.03515c",
        "type": "uuid",
        "z": "3aa6f007.48ac5",
        "uuidVersion": "v4",
        "namespaceType": "",
        "namespace": "",
        "namespaceCustom": "",
        "name": "",
        "field": "uuid",
        "fieldType": "msg",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "b7d0645d.b05988"
            ]
        ]
    },
    {
        "id": "23035353.dda564",
        "type": "comment",
        "z": "3aa6f007.48ac5",
        "name": "Task create",
        "info": "",
        "x": 80,
        "y": 60,
        "wires": []
    },
    {
        "id": "58a9ed29.f6785c",
        "type": "moment",
        "z": "3aa6f007.48ac5",
        "name": "ISO => EPOCH",
        "topic": "",
        "input": "payload.triggerTimeISO",
        "inputType": "msg",
        "inTz": "ETC/GMT",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "date",
        "locale": "POSIX",
        "output": "triggerTimeDate",
        "outputType": "msg",
        "outTz": "Europe/Paris",
        "x": 480,
        "y": 140,
        "wires": [
            [
                "a69af9f4.33d7b"
            ]
        ]
    },
    {
        "id": "df3de2f9.4c7a98",
        "type": "http in",
        "z": "3aa6f007.48ac5",
        "name": "",
        "url": "/tasks",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "8f450dfc.ed79f"
            ]
        ]
    },
    {
        "id": "f56bd92d.1abac",
        "type": "redis-command",
        "z": "3aa6f007.48ac5",
        "server": "5ed67383.5985ac",
        "command": "zrangebyscore",
        "name": "",
        "topic": "tasks",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 570,
        "y": 300,
        "wires": [
            [
                "8c538280.b4a75"
            ]
        ]
    },
    {
        "id": "8f450dfc.ed79f",
        "type": "function",
        "z": "3aa6f007.48ac5",
        "name": "Pre-Process",
        "func": "msg.payload = [ \"-inf\", \"+inf\" ]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 300,
        "wires": [
            [
                "f56bd92d.1abac"
            ]
        ]
    },
    {
        "id": "27f2b42e.4c40e4",
        "type": "comment",
        "z": "3aa6f007.48ac5",
        "name": "Task get all",
        "info": "",
        "x": 80,
        "y": 260,
        "wires": []
    },
    {
        "id": "8c538280.b4a75",
        "type": "function",
        "z": "3aa6f007.48ac5",
        "name": "Loop on Details",
        "func": "let redis = context.flow.get('redis');\n\n/*\nredis.info().then((data)=>{\n    msg.payload = data\n    node.send(msg);\n})\n*/\n\ntasks = msg.payload\nmsg.payload = {}\nmsg.payload.tasks = []\n\nfor (var j = 0; j < tasks.length; j++) {\n    task = tasks[j]\n\n    redis.call(\"hget\", \"taskDetails\", task).then((data)=>{\n        taskJSON = JSON.parse(data)\n        msg.payload.tasks.push(taskJSON)\n    })\n}\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 300,
        "wires": [
            [
                "15d8cf6f.856939",
                "3cb19b70.312ae4"
            ]
        ]
    },
    {
        "id": "ea44a75a.097eb8",
        "type": "inject",
        "z": "3aa6f007.48ac5",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": "60",
        "x": 170,
        "y": 680,
        "wires": [
            [
                "b857decc.45d0d"
            ]
        ]
    },
    {
        "id": "13be66bf.301be1",
        "type": "redis-command",
        "z": "3aa6f007.48ac5",
        "server": "5ed67383.5985ac",
        "command": "zrangebyscore",
        "name": "",
        "topic": "tasks",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 610,
        "y": 680,
        "wires": [
            [
                "c48deb4a.9bdc6"
            ]
        ]
    },
    {
        "id": "b857decc.45d0d",
        "type": "function",
        "z": "3aa6f007.48ac5",
        "name": "Pre-Process",
        "func": "msg.payload = [ \"-inf\", \"\" + new Date().getTime() ]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 680,
        "wires": [
            [
                "13be66bf.301be1"
            ]
        ]
    },
    {
        "id": "c48deb4a.9bdc6",
        "type": "debug",
        "z": "3aa6f007.48ac5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 990,
        "y": 680,
        "wires": []
    },
    {
        "id": "2172756a.29d0b2",
        "type": "comment",
        "z": "3aa6f007.48ac5",
        "name": "CRON @ 60s",
        "info": "",
        "x": 90,
        "y": 640,
        "wires": []
    },
    {
        "id": "fb2086fc.273b5",
        "type": "redis-command",
        "z": "3aa6f007.48ac5",
        "server": "5ed67383.5985ac",
        "command": "hset",
        "name": "",
        "topic": "taskDetails",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 840,
        "y": 140,
        "wires": [
            [
                "27e1d8de.526"
            ]
        ]
    },
    {
        "id": "34c9bd42.23e04a",
        "type": "function",
        "z": "3aa6f007.48ac5",
        "name": "UserData",
        "func": "// park payload\nmsg.inboundPayload = msg.payload\n\n// enhance parked payload\nmsg.inboundPayload.id = msg.uuid\nmsg.inboundPayload.triggerTimeMs = msg.triggerTimeMs\n\n// build storage request\nmsg.payload = [ msg.uuid, JSON.stringify(msg.inboundPayload) ]\nmsg.topic = \"taskDetails\"\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 100,
        "wires": [
            [
                "fb2086fc.273b5"
            ]
        ]
    },
    {
        "id": "b7d0645d.b05988",
        "type": "switch",
        "z": "3aa6f007.48ac5",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "triggerTimeMs",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "triggerTimeISO",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "23eaec00.a44854"
            ],
            [
                "58a9ed29.f6785c"
            ],
            [
                "25d57edd.975eba"
            ]
        ]
    },
    {
        "id": "25d57edd.975eba",
        "type": "function",
        "z": "3aa6f007.48ac5",
        "name": "Add triggerTimeMs",
        "func": "msg.triggerTimeMs = new Date().getTime()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 180,
        "wires": [
            [
                "34c9bd42.23e04a"
            ]
        ]
    },
    {
        "id": "3cb19b70.312ae4",
        "type": "debug",
        "z": "3aa6f007.48ac5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 990,
        "y": 340,
        "wires": []
    },
    {
        "id": "a69af9f4.33d7b",
        "type": "function",
        "z": "3aa6f007.48ac5",
        "name": "Date",
        "func": "msg.triggerTimeMs = msg.triggerTimeDate.getTime()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 140,
        "wires": [
            [
                "34c9bd42.23e04a"
            ]
        ]
    },
    {
        "id": "23eaec00.a44854",
        "type": "function",
        "z": "3aa6f007.48ac5",
        "name": "Asign triggerTimeMs",
        "func": "msg.triggerTimeMs = msg.payload.triggerTimeMs\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 100,
        "wires": [
            [
                "34c9bd42.23e04a"
            ]
        ]
    },
    {
        "id": "83b2d754.4f0a48",
        "type": "function",
        "z": "3aa6f007.48ac5",
        "name": "Post-processing",
        "func": "msg.payload = msg.inboundPayload\nmsg.statusCode = 200\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1220,
        "y": 140,
        "wires": [
            [
                "5e5a99ad.47cde",
                "2931ff0.2f6ad82"
            ]
        ]
    },
    {
        "id": "5e5a99ad.47cde",
        "type": "http response",
        "z": "3aa6f007.48ac5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1390,
        "y": 140,
        "wires": []
    },
    {
        "id": "707a66af.15eb6",
        "type": "redis-instance",
        "z": "3aa6f007.48ac5",
        "server": "5ed67383.5985ac",
        "name": "",
        "topic": "redis",
        "location": "flow",
        "block": false,
        "x": 330,
        "y": 260,
        "wires": []
    },
    {
        "id": "58a30694.fe3d2",
        "type": "comment",
        "z": "3aa6f007.48ac5",
        "name": "Task delete all",
        "info": "",
        "x": 90,
        "y": 380,
        "wires": []
    },
    {
        "id": "a1a3dfc9.6061f",
        "type": "http in",
        "z": "3aa6f007.48ac5",
        "name": "",
        "url": "/tasks",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 420,
        "wires": [
            [
                "81991478.49d458"
            ]
        ]
    },
    {
        "id": "81991478.49d458",
        "type": "function",
        "z": "3aa6f007.48ac5",
        "name": "Pre-Process",
        "func": "msg.payload = [ \"-inf\", \"+inf\" ]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 420,
        "wires": [
            [
                "6cf699de.c49eb"
            ]
        ]
    },
    {
        "id": "fb0524a5.9c27a8",
        "type": "http response",
        "z": "3aa6f007.48ac5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 420,
        "wires": []
    },
    {
        "id": "46518896.9358d8",
        "type": "function",
        "z": "3aa6f007.48ac5",
        "name": "Loop on Details",
        "func": "let redis = context.flow.get('redis');\n\n/*\nredis.info().then((data)=>{\n    msg.payload = data\n    node.send(msg);\n})\n*/\n\ntasks = msg.payload\nmsg.payload = {}\nmsg.payload.tasks = []\n\nfor (var j = 0; j < tasks.length; j++) {\n    task = tasks[j]\n\n    redis.call(\"hdel\", \"taskDetails\", task).then((data)=>{\n        \n    })\n}\n\nredis.call(\"del\", \"tasks\").then((data)=>{\n    \n})\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 420,
        "wires": [
            [
                "fb0524a5.9c27a8",
                "f9332842.4d229"
            ]
        ]
    },
    {
        "id": "f9332842.4d229",
        "type": "debug",
        "z": "3aa6f007.48ac5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 990,
        "y": 460,
        "wires": []
    },
    {
        "id": "f96e7556.c395d8",
        "type": "comment",
        "z": "3aa6f007.48ac5",
        "name": "Task delete one",
        "info": "",
        "x": 100,
        "y": 520,
        "wires": []
    },
    {
        "id": "1e07a24b.f5af5e",
        "type": "http in",
        "z": "3aa6f007.48ac5",
        "name": "",
        "url": "/tasks/:id",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 560,
        "wires": [
            [
                "769051fe.dbd4f"
            ]
        ]
    },
    {
        "id": "769051fe.dbd4f",
        "type": "function",
        "z": "3aa6f007.48ac5",
        "name": "TimeIndex",
        "func": "msg.payload = [ msg.req.params.id ]\nmsg.topic = \"tasks\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 540,
        "wires": [
            [
                "c2425cde.c2c86"
            ]
        ]
    },
    {
        "id": "3ffd326e.77d95e",
        "type": "http response",
        "z": "3aa6f007.48ac5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 540,
        "wires": []
    },
    {
        "id": "c9397ab3.593ce8",
        "type": "debug",
        "z": "3aa6f007.48ac5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 990,
        "y": 580,
        "wires": []
    },
    {
        "id": "c2425cde.c2c86",
        "type": "redis-command",
        "z": "3aa6f007.48ac5",
        "server": "5ed67383.5985ac",
        "command": "zrem",
        "name": "",
        "topic": "tasks",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 400,
        "y": 580,
        "wires": [
            [
                "ac53516b.c5da38"
            ]
        ]
    },
    {
        "id": "9cc18db4.213508",
        "type": "redis-command",
        "z": "3aa6f007.48ac5",
        "server": "5ed67383.5985ac",
        "command": "hdel",
        "name": "",
        "topic": "tasksDetails",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 640,
        "y": 580,
        "wires": [
            [
                "b087cda2.17b9"
            ]
        ]
    },
    {
        "id": "6cf699de.c49eb",
        "type": "redis-command",
        "z": "3aa6f007.48ac5",
        "server": "5ed67383.5985ac",
        "command": "zrangebyscore",
        "name": "",
        "topic": "tasks",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 570,
        "y": 420,
        "wires": [
            [
                "46518896.9358d8"
            ]
        ]
    },
    {
        "id": "ac53516b.c5da38",
        "type": "function",
        "z": "3aa6f007.48ac5",
        "name": "UserData",
        "func": "msg.payload = [ msg.req.params.id ]\nmsg.topic = \"tasksDetails\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 540,
        "wires": [
            [
                "9cc18db4.213508"
            ]
        ]
    },
    {
        "id": "b087cda2.17b9",
        "type": "function",
        "z": "3aa6f007.48ac5",
        "name": "Post-processing",
        "func": "msg.payload = {}\nmsg.statusCode = 200\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 540,
        "wires": [
            [
                "3ffd326e.77d95e",
                "c9397ab3.593ce8"
            ]
        ]
    }
]