examples/redis-example/flows.json
[
    {
        "id": "e4b07564.01839",
        "type": "tab",
        "label": "Redis Test Pub/Sub",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d6af186b.004918",
        "type": "tab",
        "label": "Sample redis task scheduler",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5ed67383.5985ac",
        "type": "redis-config",
        "z": "",
        "name": "redis:6379",
        "options": "{\"host\":\"redis\"}",
        "cluster": false,
        "optionsType": "json"
    },
    {
        "id": "e243645d.ca73d",
        "type": "catch",
        "z": "e4b07564.01839",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 340,
        "y": 80,
        "wires": [
            [
                "3f083548.5e6872"
            ]
        ]
    },
    {
        "id": "3f083548.5e6872",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 850,
        "y": 80,
        "wires": []
    },
    {
        "id": "c1fdda7e.4998e",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 850,
        "y": 280,
        "wires": []
    },
    {
        "id": "2748a823.cc0fb8",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 340,
        "y": 280,
        "wires": [
            [
                "a5c184a7.083b6"
            ]
        ]
    },
    {
        "id": "a5c184a7.083b6",
        "type": "redis-out",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "command": "rpush",
        "name": "",
        "topic": "test",
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "b1bbbc65.621988",
        "type": "redis-in",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "command": "blpop",
        "name": "",
        "topic": "test",
        "timeout": 0,
        "x": 590,
        "y": 280,
        "wires": [
            [
                "c1fdda7e.4998e"
            ]
        ]
    },
    {
        "id": "5dd59cd5.7e4894",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "",
        "payload": "{\"a\":1,\"b\":2}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 340,
        "y": 240,
        "wires": [
            [
                "a5c184a7.083b6"
            ]
        ]
    },
    {
        "id": "7d3f4780.4c4e7",
        "type": "redis-command",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "command": "getset",
        "name": "",
        "topic": "timestamp",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 640,
        "y": 340,
        "wires": [
            [
                "fd1d86cf.b829e8"
            ]
        ]
    },
    {
        "id": "b8b91eb4.0fa498",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 340,
        "y": 340,
        "wires": [
            [
                "7d3f4780.4c4e7"
            ]
        ]
    },
    {
        "id": "fd1d86cf.b829e8",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 870,
        "y": 340,
        "wires": []
    },
    {
        "id": "e2b59649.9425a8",
        "type": "redis-command",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "command": "set",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 600,
        "y": 400,
        "wires": [
            [
                "759d82c8.410f94"
            ]
        ]
    },
    {
        "id": "146b63bf.3a2304",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "",
        "payload": "[\"key\",\"value\"]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 330,
        "y": 400,
        "wires": [
            [
                "e2b59649.9425a8"
            ]
        ]
    },
    {
        "id": "759d82c8.410f94",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 870,
        "y": 400,
        "wires": []
    },
    {
        "id": "808c1d9d.6c2eb8",
        "type": "redis-command",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "command": "getset",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 610,
        "y": 440,
        "wires": [
            [
                "d703137.5fc61f"
            ]
        ]
    },
    {
        "id": "a902c57c.163798",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "key",
        "payload": "[\"value\"]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 330,
        "y": 440,
        "wires": [
            [
                "808c1d9d.6c2eb8"
            ]
        ]
    },
    {
        "id": "d703137.5fc61f",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 870,
        "y": 440,
        "wires": []
    },
    {
        "id": "b053ca6b.308788",
        "type": "redis-command",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "command": "hmset",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 610,
        "y": 560,
        "wires": [
            [
                "4f702c32.a1a894"
            ]
        ]
    },
    {
        "id": "c7b1d7f7.9b4d",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "myHash",
        "payload": "{\"a\":1,\"b\":2}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 310,
        "y": 560,
        "wires": [
            [
                "b053ca6b.308788"
            ]
        ]
    },
    {
        "id": "4f702c32.a1a894",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 870,
        "y": 560,
        "wires": []
    },
    {
        "id": "8ac0d118.c0c9c8",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 350,
        "y": 600,
        "wires": [
            [
                "46a46523.33b9ec"
            ]
        ]
    },
    {
        "id": "535e49ed.a6e288",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 870,
        "y": 600,
        "wires": []
    },
    {
        "id": "46a46523.33b9ec",
        "type": "redis-command",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "command": "hgetall",
        "name": "",
        "topic": "myHash",
        "params": "{}",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 640,
        "y": 600,
        "wires": [
            [
                "535e49ed.a6e288"
            ]
        ]
    },
    {
        "id": "7ba7dcee.e25fd4",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 350,
        "y": 680,
        "wires": [
            [
                "decd1758.c97638"
            ]
        ]
    },
    {
        "id": "b0bc6387.91dda",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 870,
        "y": 680,
        "wires": []
    },
    {
        "id": "decd1758.c97638",
        "type": "redis-command",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "command": "sadd",
        "name": "",
        "topic": "mySet",
        "params": "[\"memberA\",\"memberB\",\"memberC\"]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 630,
        "y": 680,
        "wires": [
            [
                "b0bc6387.91dda"
            ]
        ]
    },
    {
        "id": "ed7744a6.1d9678",
        "type": "redis-command",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "command": "get",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 600,
        "y": 480,
        "wires": [
            [
                "8e3c0cfb.0f2438"
            ]
        ]
    },
    {
        "id": "c9f29416.d515e8",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "key",
        "payload": "[]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 350,
        "y": 480,
        "wires": [
            [
                "ed7744a6.1d9678"
            ]
        ]
    },
    {
        "id": "8e3c0cfb.0f2438",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 850,
        "y": 480,
        "wires": []
    },
    {
        "id": "cc391a6d.befb98",
        "type": "redis-lua-script",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "name": "test",
        "keyval": 0,
        "func": "local text = \"Hello World\"\nreturn text",
        "stored": true,
        "block": false,
        "x": 590,
        "y": 800,
        "wires": [
            [
                "c63d14bb.a26de8"
            ]
        ]
    },
    {
        "id": "5a160ea3.5945c",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 340,
        "y": 800,
        "wires": [
            [
                "cc391a6d.befb98"
            ]
        ]
    },
    {
        "id": "c63d14bb.a26de8",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 850,
        "y": 800,
        "wires": []
    },
    {
        "id": "a777fb82.5d752",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 350,
        "y": 720,
        "wires": [
            [
                "5727f749.985af"
            ]
        ]
    },
    {
        "id": "418c4974.8cca2",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 870,
        "y": 720,
        "wires": []
    },
    {
        "id": "5727f749.985af",
        "type": "redis-command",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "command": "sismember",
        "name": "",
        "topic": "mySet",
        "params": "[\"memberC\"]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 640,
        "y": 720,
        "wires": [
            [
                "418c4974.8cca2"
            ]
        ]
    },
    {
        "id": "ae93cacc.5a7bb",
        "type": "redis-lua-script",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "name": "test2",
        "keyval": 0,
        "func": "local text = \"Hello2222 World2222\"\nreturn text",
        "stored": false,
        "block": false,
        "x": 590,
        "y": 860,
        "wires": [
            [
                "2865dd1f.1302ea"
            ]
        ]
    },
    {
        "id": "b2b7f693.57874",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 340,
        "y": 860,
        "wires": [
            [
                "ae93cacc.5a7bb"
            ]
        ]
    },
    {
        "id": "2865dd1f.1302ea",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 850,
        "y": 860,
        "wires": []
    },
    {
        "id": "bd4e0b13.326ab8",
        "type": "redis-in",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "command": "psubscribe",
        "name": "",
        "topic": "TOPIC:*",
        "timeout": 0,
        "x": 600,
        "y": 120,
        "wires": [
            [
                "24edccd4.85a944"
            ]
        ]
    },
    {
        "id": "24edccd4.85a944",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 850,
        "y": 120,
        "wires": []
    },
    {
        "id": "207138fd.060ff8",
        "type": "redis-in",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "command": "subscribe",
        "name": "",
        "topic": "TOPIC:OK",
        "timeout": 0,
        "x": 600,
        "y": 180,
        "wires": [
            [
                "917bf96b.89edf8"
            ]
        ]
    },
    {
        "id": "917bf96b.89edf8",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 850,
        "y": 180,
        "wires": []
    },
    {
        "id": "f2c7a781.66704",
        "type": "redis-out",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "command": "publish",
        "name": "",
        "topic": "TOPIC:OK",
        "x": 410,
        "y": 180,
        "wires": []
    },
    {
        "id": "1790f38a.cb2434",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "",
        "payload": "{\"a\":1,\"b\":2}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 340,
        "y": 120,
        "wires": [
            [
                "f2c7a781.66704"
            ]
        ]
    },
    {
        "id": "61dff92c.eb1c5",
        "type": "redis-command",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "command": "del",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 600,
        "y": 920,
        "wires": [
            [
                "c3fb3495.67a15"
            ]
        ]
    },
    {
        "id": "bd2e0191.0a3b1",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "key",
        "payload": "[]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 350,
        "y": 920,
        "wires": [
            [
                "61dff92c.eb1c5"
            ]
        ]
    },
    {
        "id": "c3fb3495.67a15",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 850,
        "y": 920,
        "wires": []
    },
    {
        "id": "acd045d5.d4198",
        "type": "redis-instance",
        "z": "e4b07564.01839",
        "server": "5ed67383.5985ac",
        "name": "",
        "topic": "redis",
        "location": "flow",
        "block": false,
        "x": 350,
        "y": 980,
        "wires": []
    },
    {
        "id": "3e20faed.328636",
        "type": "inject",
        "z": "e4b07564.01839",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 340,
        "y": 1020,
        "wires": [
            [
                "28381f63.bbc788"
            ]
        ]
    },
    {
        "id": "28381f63.bbc788",
        "type": "function",
        "z": "e4b07564.01839",
        "name": "",
        "func": "let redis = context.flow.get('redis');\n\nredis.info().then((data)=>{\n    msg.payload = data\n    node.send(msg);\n})\n\n/*\nredis.call(\"anycmd\").then((data)=>{\n    msg.payload = data\n    node.send(msg);\n})*/",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 1020,
        "wires": [
            [
                "60607f08.3019e8"
            ]
        ]
    },
    {
        "id": "60607f08.3019e8",
        "type": "debug",
        "z": "e4b07564.01839",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 850,
        "y": 1020,
        "wires": []
    },
    {
        "id": "a2153d9d.639e28",
        "type": "redis-command",
        "z": "d6af186b.004918",
        "server": "5ed67383.5985ac",
        "command": "zadd",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 460,
        "y": 140,
        "wires": [
            [
                "77c7153c.f6231c"
            ]
        ]
    },
    {
        "id": "5c634ee7.d507b",
        "type": "inject",
        "z": "d6af186b.004918",
        "name": "",
        "topic": "tasks",
        "payload": "[-1,\"before\"]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 140,
        "wires": [
            [
                "a2153d9d.639e28"
            ]
        ]
    },
    {
        "id": "77c7153c.f6231c",
        "type": "debug",
        "z": "d6af186b.004918",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 850,
        "y": 140,
        "wires": []
    },
    {
        "id": "dba55d7.63e342",
        "type": "catch",
        "z": "d6af186b.004918",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 240,
        "y": 100,
        "wires": [
            [
                "6cd2abe0.575094"
            ]
        ]
    },
    {
        "id": "6cd2abe0.575094",
        "type": "debug",
        "z": "d6af186b.004918",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 850,
        "y": 100,
        "wires": []
    },
    {
        "id": "eda93d99.207b7",
        "type": "redis-command",
        "z": "d6af186b.004918",
        "server": "5ed67383.5985ac",
        "command": "zrangebyscore",
        "name": "",
        "topic": "tasks",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 510,
        "y": 180,
        "wires": [
            [
                "77c7153c.f6231c"
            ]
        ]
    },
    {
        "id": "a1308905.8b1b7",
        "type": "inject",
        "z": "d6af186b.004918",
        "name": "",
        "topic": "tasks",
        "payload": "[\"-inf\",\"+inf\"]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 180,
        "wires": [
            [
                "eda93d99.207b7"
            ]
        ]
    },
    {
        "id": "cd19d03a.1613f8",
        "type": "function",
        "z": "d6af186b.004918",
        "name": "",
        "func": "msgQueue = {}\nmsgQueue.httpResp = msg\nmsgQueue.payload = [ msg.payload.triggerTimeMs, msg.payload.id ]\nmsgQueue.topic = \"tasks\"\nreturn msgQueue",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 380,
        "wires": [
            [
                "d4636337.5715"
            ]
        ]
    },
    {
        "id": "76e5a2ea.9aa454",
        "type": "http in",
        "z": "d6af186b.004918",
        "name": "",
        "url": "/tasks",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 300,
        "wires": [
            [
                "bdbab86a.298fe"
            ]
        ]
    },
    {
        "id": "2786daed.5f1cfe",
        "type": "debug",
        "z": "d6af186b.004918",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1450,
        "y": 340,
        "wires": []
    },
    {
        "id": "3254e7f0.5686d",
        "type": "http response",
        "z": "d6af186b.004918",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1330,
        "y": 440,
        "wires": []
    },
    {
        "id": "e5183185.6acb68",
        "type": "function",
        "z": "d6af186b.004918",
        "name": "",
        "func": "msgApi = msg\nmsgApi.payload = {}\nmsgApi.payload.id = msg.uuid\nmsgApi.payload.triggerTimeMs = msg.triggerTimeMs\nmsgApi.payload.triggerTimeISO = msg.triggerTimeISO\nmsgApi.statusCode = 200\nreturn msgApi;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 340,
        "wires": [
            [
                "cd19d03a.1613f8",
                "680bcb85.4f0a5c"
            ]
        ]
    },
    {
        "id": "d4636337.5715",
        "type": "redis-command",
        "z": "d6af186b.004918",
        "server": "5ed67383.5985ac",
        "command": "zadd",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1140,
        "y": 380,
        "wires": [
            [
                "39521aac.ee3c36"
            ]
        ]
    },
    {
        "id": "bdbab86a.298fe",
        "type": "uuid",
        "z": "d6af186b.004918",
        "uuidVersion": "v4",
        "namespaceType": "",
        "namespace": "",
        "namespaceCustom": "",
        "name": "",
        "field": "uuid",
        "fieldType": "msg",
        "x": 270,
        "y": 360,
        "wires": [
            [
                "a48f026e.358638"
            ]
        ]
    },
    {
        "id": "468488e3.7b463",
        "type": "moment",
        "z": "d6af186b.004918",
        "name": "EPOCH => ISO",
        "topic": "",
        "input": "triggerTimeMs",
        "inputType": "msg",
        "inTz": "ETC/GMT",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "POSIX",
        "output": "triggerTimeISO",
        "outputType": "msg",
        "outTz": "Europe/Paris",
        "x": 600,
        "y": 340,
        "wires": [
            [
                "e5183185.6acb68"
            ]
        ]
    },
    {
        "id": "df76d864.0827c",
        "type": "comment",
        "z": "d6af186b.004918",
        "name": "Task create",
        "info": "",
        "x": 240,
        "y": 260,
        "wires": []
    },
    {
        "id": "a48f026e.358638",
        "type": "function",
        "z": "d6af186b.004918",
        "name": "Pre-Process",
        "func": "\nif(msg.payload.triggerTimeMs == undefined && msg.payload.triggerTimeISO == undefined) {\n    // triggerTimeMs default to now\n    msg.triggerTimeMs = new Date().getTime()\n    return [ msg, null ]\n} else if(msg.payload.triggerTimeISO != undefined) {\n    // triggerTimeISO is defined => parse\n    msg.triggerTimeISO = msg.payload.triggerTimeISO\n    return [ null, msg ]\n} else {\n    // triggerTimeMs is defined => parse\n    msg.triggerTimeMs = msg.payload.triggerTimeMs\n    return [ msg, null ]\n}\n\nreturn [ null, null ];",
        "outputs": 2,
        "noerr": 0,
        "x": 410,
        "y": 360,
        "wires": [
            [
                "468488e3.7b463"
            ],
            [
                "2f27fc34.8f102c"
            ]
        ]
    },
    {
        "id": "2f27fc34.8f102c",
        "type": "moment",
        "z": "d6af186b.004918",
        "name": "ISO => EPOCH",
        "topic": "",
        "input": "triggerTimeISO",
        "inputType": "msg",
        "inTz": "ETC/GMT",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "date",
        "locale": "POSIX",
        "output": "triggerTimeDate",
        "outputType": "msg",
        "outTz": "Europe/Paris",
        "x": 600,
        "y": 380,
        "wires": [
            [
                "5001c157.e3439"
            ]
        ]
    },
    {
        "id": "5001c157.e3439",
        "type": "function",
        "z": "d6af186b.004918",
        "name": "",
        "func": "msgApi = msg\nmsgApi.payload = {}\nmsgApi.payload.id = msg.uuid\nmsgApi.payload.triggerTimeMs = msg.triggerTimeDate.getTime()\nmsgApi.payload.triggerTimeISO = msg.triggerTimeISO\nmsgApi.statusCode = 200\nreturn msgApi;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 380,
        "wires": [
            [
                "cd19d03a.1613f8",
                "680bcb85.4f0a5c"
            ]
        ]
    },
    {
        "id": "39521aac.ee3c36",
        "type": "function",
        "z": "d6af186b.004918",
        "name": "",
        "func": "msgResp = msg.httpResp\nreturn msgResp",
        "outputs": 1,
        "noerr": 0,
        "x": 1290,
        "y": 380,
        "wires": [
            [
                "2786daed.5f1cfe",
                "3254e7f0.5686d"
            ]
        ]
    },
    {
        "id": "1a52dfc7.37983",
        "type": "http in",
        "z": "d6af186b.004918",
        "name": "",
        "url": "/tasks",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 440,
        "wires": [
            [
                "49e3678f.84c6b"
            ]
        ]
    },
    {
        "id": "7e345c73.351c54",
        "type": "redis-command",
        "z": "d6af186b.004918",
        "server": "5ed67383.5985ac",
        "command": "zrangebyscore",
        "name": "",
        "topic": "tasks",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 630,
        "y": 440,
        "wires": [
            [
                "da9b0419.a41408"
            ]
        ]
    },
    {
        "id": "49e3678f.84c6b",
        "type": "function",
        "z": "d6af186b.004918",
        "name": "Pre-Process",
        "func": "msg.payload = [ \"-inf\", \"+inf\" ]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 440,
        "wires": [
            [
                "7e345c73.351c54"
            ]
        ]
    },
    {
        "id": "fa8e4e14.7d2fd8",
        "type": "comment",
        "z": "d6af186b.004918",
        "name": "Task get all",
        "info": "",
        "x": 240,
        "y": 400,
        "wires": []
    },
    {
        "id": "da9b0419.a41408",
        "type": "function",
        "z": "d6af186b.004918",
        "name": "",
        "func": "tasks = msg.payload\nmsg.payload = {}\nmsg.payload.tasks = []\nfor (var j = 0; j < tasks.length; j++) {\n    task = tasks[j]\n    var taskJSON = {}\n    taskJSON.id = task\n    msg.payload.tasks.push(taskJSON)\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 440,
        "wires": [
            [
                "3254e7f0.5686d"
            ]
        ]
    },
    {
        "id": "387b72ff.618bf6",
        "type": "inject",
        "z": "d6af186b.004918",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": "60",
        "x": 230,
        "y": 560,
        "wires": [
            [
                "2a7aedd3.d27bb2"
            ]
        ]
    },
    {
        "id": "28a200ab.29464",
        "type": "redis-command",
        "z": "d6af186b.004918",
        "server": "5ed67383.5985ac",
        "command": "zrangebyscore",
        "name": "",
        "topic": "tasks",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 670,
        "y": 560,
        "wires": [
            [
                "681f2d39.3e91a4"
            ]
        ]
    },
    {
        "id": "2a7aedd3.d27bb2",
        "type": "function",
        "z": "d6af186b.004918",
        "name": "Pre-Process",
        "func": "msg.payload = [ \"-inf\", \"\" + new Date().getTime() ]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 560,
        "wires": [
            [
                "28a200ab.29464"
            ]
        ]
    },
    {
        "id": "681f2d39.3e91a4",
        "type": "debug",
        "z": "d6af186b.004918",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1060,
        "y": 560,
        "wires": []
    },
    {
        "id": "3670132b.216d44",
        "type": "comment",
        "z": "d6af186b.004918",
        "name": "CRON @ 10s",
        "info": "",
        "x": 230,
        "y": 520,
        "wires": []
    },
    {
        "id": "22046521.0cf20a",
        "type": "redis-command",
        "z": "d6af186b.004918",
        "server": "5ed67383.5985ac",
        "command": "hset",
        "name": "",
        "topic": "taskDetails",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1180,
        "y": 340,
        "wires": [
            [
                "2786daed.5f1cfe"
            ]
        ]
    },
    {
        "id": "680bcb85.4f0a5c",
        "type": "function",
        "z": "d6af186b.004918",
        "name": "",
        "func": "msgQueue = {}\nmsgQueue.payload = [ msg.payload.id, { \"id\": msg.payload.id, \"triggerTimeMs\": msg.payload.triggerTimeMs, \"triggerTimeISO\": msg.payload.triggerTimeISO } ]\nmsgQueue.topic = \"taskDetails\"\nreturn msgQueue",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 340,
        "wires": [
            [
                "22046521.0cf20a"
            ]
        ]
    }
]