examples/integration-node-red-contrib-influxdb/flows.json
[
    {
        "id": "ee322aa5.04059",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1cbb3c91.7df2b3",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [
            {
                "x": 140,
                "y": 60,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 960,
                "y": 60,
                "wires": [
                    {
                        "id": "1cbb3c91.7df2b3",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "2b245d4f.5baf12",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "sensors",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "",
        "rejectUnauthorized": false
    },
    {
        "id": "d699fffa.d07df",
        "type": "mqtt-broker",
        "name": "mqtt",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e2d21338.ab7f58",
        "type": "inject",
        "z": "ee322aa5.04059",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "f14893fc.d042b8"
            ]
        ]
    },
    {
        "id": "634375f2.32e9d4",
        "type": "debug",
        "z": "ee322aa5.04059",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "f14893fc.d042b8",
        "type": "function",
        "z": "ee322aa5.04059",
        "name": "single value",
        "func": "msg.payload = Math.random()*10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 80,
        "wires": [
            [
                "de1fd091.09b5c",
                "634375f2.32e9d4"
            ]
        ]
    },
    {
        "id": "de1fd091.09b5c",
        "type": "influxdb out",
        "z": "ee322aa5.04059",
        "influxdb": "2b245d4f.5baf12",
        "name": "",
        "measurement": "test",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "",
        "bucket": "",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "401bbdfe.584c94",
        "type": "debug",
        "z": "1cbb3c91.7df2b3",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "bf874566.5d9478",
        "type": "influxdb out",
        "z": "ee322aa5.04059",
        "influxdb": "2b245d4f.5baf12",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "",
        "bucket": "",
        "x": 660,
        "y": 760,
        "wires": []
    },
    {
        "id": "2b444ab.4ee2eb6",
        "type": "debug",
        "z": "ee322aa5.04059",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 800,
        "wires": []
    },
    {
        "id": "5610048f.475424",
        "type": "inject",
        "z": "ee322aa5.04059",
        "name": "~18 @ 1s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "18 + 5 * $random()",
        "payloadType": "jsonata",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "26b163fc.3928ec"
            ]
        ]
    },
    {
        "id": "eb3ffcc5.164e7",
        "type": "comment",
        "z": "ee322aa5.04059",
        "name": "insert - single value",
        "info": "",
        "x": 210,
        "y": 40,
        "wires": []
    },
    {
        "id": "829cfd40.94c308",
        "type": "comment",
        "z": "ee322aa5.04059",
        "name": "insert - value + fields + tags",
        "info": "",
        "x": 240,
        "y": 200,
        "wires": []
    },
    {
        "id": "f9ad7f8e.736a08",
        "type": "influxdb in",
        "z": "ee322aa5.04059",
        "influxdb": "2b245d4f.5baf12",
        "name": "",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 440,
        "y": 640,
        "wires": [
            [
                "fe17bda8.2a07a8"
            ]
        ]
    },
    {
        "id": "266e0143.d568d6",
        "type": "comment",
        "z": "ee322aa5.04059",
        "name": "SELECT * FROM \"sensors\" WHERE \"value\" > 22",
        "info": "",
        "x": 300,
        "y": 580,
        "wires": []
    },
    {
        "id": "fe17bda8.2a07a8",
        "type": "debug",
        "z": "ee322aa5.04059",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 640,
        "wires": []
    },
    {
        "id": "7ad1b802.d1df98",
        "type": "inject",
        "z": "ee322aa5.04059",
        "name": "From Hour",
        "props": [
            {
                "p": "query",
                "v": "SELECT * FROM \"sensors\" WHERE \"value\" > 22",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 640,
        "wires": [
            [
                "f9ad7f8e.736a08"
            ]
        ]
    },
    {
        "id": "97d54fbb.aa2e9",
        "type": "inject",
        "z": "ee322aa5.04059",
        "name": "~19 @ 5s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "19 + 5 * $random()",
        "payloadType": "jsonata",
        "x": 190,
        "y": 280,
        "wires": [
            [
                "26b163fc.3928ec"
            ]
        ]
    },
    {
        "id": "a557d7d1.f0c19",
        "type": "inject",
        "z": "ee322aa5.04059",
        "name": "~20 @ 10s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "20 + 5 * $random()",
        "payloadType": "jsonata",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "26b163fc.3928ec"
            ]
        ]
    },
    {
        "id": "363803a4.b81044",
        "type": "mqtt in",
        "z": "ee322aa5.04059",
        "name": "sensors",
        "topic": "sensors",
        "qos": "2",
        "datatype": "json",
        "broker": "d699fffa.d07df",
        "x": 170,
        "y": 760,
        "wires": [
            [
                "2b444ab.4ee2eb6",
                "7e3ea563.cfecfc"
            ]
        ]
    },
    {
        "id": "e5ffc698.bbd6f",
        "type": "mqtt out",
        "z": "ee322aa5.04059",
        "name": "",
        "topic": "sensors",
        "qos": "",
        "retain": "",
        "broker": "d699fffa.d07df",
        "x": 840,
        "y": 240,
        "wires": []
    },
    {
        "id": "716819cb.d00088",
        "type": "comment",
        "z": "ee322aa5.04059",
        "name": "insert - events",
        "info": "",
        "x": 190,
        "y": 720,
        "wires": []
    },
    {
        "id": "3c5faf57.888f4",
        "type": "function",
        "z": "ee322aa5.04059",
        "name": "Query Temperature",
        "func": "// TEMP, HUMI, LIGHT, PRESSURE, BATTERY, RAIN\n\nvar msgres =  {\n    payload: {\n        payload: [\n            { \"value\": Number(msg.payload.value) },\n            { \"type\": \"temp\", \"location\": msg.payload.location }\n        ],\n        measurement: \"sensors\"\n    }\n}\n\nreturn msgres;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 630,
        "y": 240,
        "wires": [
            [
                "e5ffc698.bbd6f"
            ]
        ]
    },
    {
        "id": "7e3ea563.cfecfc",
        "type": "function",
        "z": "ee322aa5.04059",
        "name": "Sensors",
        "func": "var msgres = msg.payload\nreturn msgres;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 420,
        "y": 760,
        "wires": [
            [
                "bf874566.5d9478",
                "1dcfd422.bd14fc"
            ]
        ]
    },
    {
        "id": "1dcfd422.bd14fc",
        "type": "debug",
        "z": "ee322aa5.04059",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 800,
        "wires": []
    },
    {
        "id": "ea4448b9.c62a4",
        "type": "inject",
        "z": "ee322aa5.04059",
        "name": "From Month",
        "props": [
            {
                "p": "query",
                "v": "SELECT * FROM \"one_month\".\"downsampled_sensors\"",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 680,
        "wires": [
            [
                "f9ad7f8e.736a08"
            ]
        ]
    },
    {
        "id": "6e57069e.e874c",
        "type": "inject",
        "z": "ee322aa5.04059",
        "name": "~50 @ 1s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "50 + 25 * $random()",
        "payloadType": "jsonata",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "898f3619.1ca42"
            ]
        ]
    },
    {
        "id": "a57e50bf.ab516",
        "type": "inject",
        "z": "ee322aa5.04059",
        "name": "~60 @ 5s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "60 + 25 * $random()",
        "payloadType": "jsonata",
        "x": 190,
        "y": 440,
        "wires": [
            [
                "898f3619.1ca42"
            ]
        ]
    },
    {
        "id": "e7479fed.f7d67",
        "type": "inject",
        "z": "ee322aa5.04059",
        "name": "~70 @ 10s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "70 + 25 * $random()",
        "payloadType": "jsonata",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "898f3619.1ca42"
            ]
        ]
    },
    {
        "id": "9f2f33a4.243408",
        "type": "function",
        "z": "ee322aa5.04059",
        "name": "Query Humidity",
        "func": "// TEMP, HUMI, LIGHT, PRESSURE, BATTERY, RAIN\n\nvar msgres =  {\n    payload: {\n        payload: [\n            { \"value\": Number(msg.payload.value) },\n            { \"type\": \"humi\", \"location\": msg.payload.location }\n        ],\n        measurement: \"sensors\"\n    }\n}\n\nreturn msgres;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 400,
        "wires": [
            [
                "e5ffc698.bbd6f"
            ]
        ]
    },
    {
        "id": "26b163fc.3928ec",
        "type": "function",
        "z": "ee322aa5.04059",
        "name": "Room ?",
        "func": "const MIN = 1;\nconst MAX = 10;\n//The maximum is exclusive and the minimum is inclusive\n \nmin = Math.ceil(MIN);\nmax = Math.floor(MAX);\nlocation = \"room-\" + ( Math.floor(Math.random() * (max - min)) + min );\n\nmsg.payload = {\n    \"value\": msg.payload,\n    \"location\": location\n}\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 240,
        "wires": [
            [
                "3c5faf57.888f4",
                "77734c8e.df664c"
            ]
        ]
    },
    {
        "id": "898f3619.1ca42",
        "type": "function",
        "z": "ee322aa5.04059",
        "name": "Room ?",
        "func": "const MIN = 1;\nconst MAX = 10;\n//The maximum is exclusive and the minimum is inclusive\n \nmin = Math.ceil(MIN);\nmax = Math.floor(MAX);\nlocation = \"room-\" + ( Math.floor(Math.random() * (max - min)) + min );\n\nmsg.payload = {\n    \"value\": msg.payload,\n    \"location\": location\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 400,
        "wires": [
            [
                "9f2f33a4.243408"
            ]
        ]
    },
    {
        "id": "77734c8e.df664c",
        "type": "debug",
        "z": "ee322aa5.04059",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 280,
        "wires": []
    }
]