examples/integration-node-red-contrib-influxdb/flows.json
[
    {
        "id": "ee322aa5.04059",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1cbb3c91.7df2b3",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [
            {
                "x": 140,
                "y": 60,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 960,
                "y": 60,
                "wires": [
                    {
                        "id": "1cbb3c91.7df2b3",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "2b245d4f.5baf12",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "sensors",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "",
        "rejectUnauthorized": false
    },
    {
        "id": "d699fffa.d07df",
        "type": "mqtt-broker",
        "name": "mqtt",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e2d21338.ab7f58",
        "type": "inject",
        "z": "ee322aa5.04059",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "f14893fc.d042b8"
            ]
        ]
    },
    {
        "id": "634375f2.32e9d4",
        "type": "debug",
        "z": "ee322aa5.04059",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "f14893fc.d042b8",
        "type": "function",
        "z": "ee322aa5.04059",
        "name": "single value",
        "func": "msg.payload = Math.random()*10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 80,
        "wires": [
            [
                "de1fd091.09b5c",
                "634375f2.32e9d4"
            ]
        ]
    },
    {
        "id": "de1fd091.09b5c",
        "type": "influxdb out",
        "z": "ee322aa5.04059",
        "influxdb": "2b245d4f.5baf12",
        "name": "",
        "measurement": "test",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "",
        "bucket": "",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "401bbdfe.584c94",
        "type": "debug",
        "z": "1cbb3c91.7df2b3",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "bf874566.5d9478",
        "type": "influxdb out",
        "z": "ee322aa5.04059",
        "influxdb": "2b245d4f.5baf12",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "",
        "bucket": "",
        "x": 660,
        "y": 600,
        "wires": []
    },
    {
        "id": "2b444ab.4ee2eb6",
        "type": "debug",
        "z": "ee322aa5.04059",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 640,
        "wires": []
    },
    {
        "id": "eb3ffcc5.164e7",
        "type": "comment",
        "z": "ee322aa5.04059",
        "name": "insert - single value",
        "info": "",
        "x": 210,
        "y": 40,
        "wires": []
    },
    {
        "id": "829cfd40.94c308",
        "type": "comment",
        "z": "ee322aa5.04059",
        "name": "insert - value + fields + tags",
        "info": "",
        "x": 240,
        "y": 200,
        "wires": []
    },
    {
        "id": "f9ad7f8e.736a08",
        "type": "influxdb in",
        "z": "ee322aa5.04059",
        "influxdb": "2b245d4f.5baf12",
        "name": "",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 440,
        "y": 480,
        "wires": [
            [
                "fe17bda8.2a07a8"
            ]
        ]
    },
    {
        "id": "266e0143.d568d6",
        "type": "comment",
        "z": "ee322aa5.04059",
        "name": "SELECT * FROM \"sensors\" WHERE \"value\" > 22",
        "info": "",
        "x": 300,
        "y": 420,
        "wires": []
    },
    {
        "id": "fe17bda8.2a07a8",
        "type": "debug",
        "z": "ee322aa5.04059",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 480,
        "wires": []
    },
    {
        "id": "7ad1b802.d1df98",
        "type": "inject",
        "z": "ee322aa5.04059",
        "name": "From Hour",
        "props": [
            {
                "p": "query",
                "v": "SELECT * FROM \"sensors\" WHERE \"value\" > 22",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 480,
        "wires": [
            [
                "f9ad7f8e.736a08"
            ]
        ]
    },
    {
        "id": "363803a4.b81044",
        "type": "mqtt in",
        "z": "ee322aa5.04059",
        "name": "sensors",
        "topic": "sensors",
        "qos": "2",
        "datatype": "json",
        "broker": "d699fffa.d07df",
        "x": 170,
        "y": 600,
        "wires": [
            [
                "2b444ab.4ee2eb6",
                "7e3ea563.cfecfc"
            ]
        ]
    },
    {
        "id": "e5ffc698.bbd6f",
        "type": "mqtt out",
        "z": "ee322aa5.04059",
        "name": "",
        "topic": "sensors",
        "qos": "",
        "retain": "",
        "broker": "d699fffa.d07df",
        "x": 1060,
        "y": 280,
        "wires": []
    },
    {
        "id": "716819cb.d00088",
        "type": "comment",
        "z": "ee322aa5.04059",
        "name": "insert - events",
        "info": "",
        "x": 190,
        "y": 560,
        "wires": []
    },
    {
        "id": "7e3ea563.cfecfc",
        "type": "function",
        "z": "ee322aa5.04059",
        "name": "Sensors",
        "func": "var msgres = msg.payload\nreturn msgres;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 420,
        "y": 600,
        "wires": [
            [
                "bf874566.5d9478",
                "1dcfd422.bd14fc"
            ]
        ]
    },
    {
        "id": "1dcfd422.bd14fc",
        "type": "debug",
        "z": "ee322aa5.04059",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 640,
        "wires": []
    },
    {
        "id": "ea4448b9.c62a4",
        "type": "inject",
        "z": "ee322aa5.04059",
        "name": "From Month",
        "props": [
            {
                "p": "query",
                "v": "SELECT * FROM \"one_month\".\"downsampled_sensors\"",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 520,
        "wires": [
            [
                "f9ad7f8e.736a08"
            ]
        ]
    },
    {
        "id": "de9ed00a.76f838",
        "type": "inject",
        "z": "ee322aa5.04059",
        "name": "@ 1s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "20b47c6.e0dea04"
            ]
        ]
    },
    {
        "id": "20b47c6.e0dea04",
        "type": "function",
        "z": "ee322aa5.04059",
        "name": "Room & Type ?",
        "func": "// location\nmin = Math.ceil(1);\nmax = Math.floor(10);\nlocation = \"room-\" + ( Math.floor(Math.random() * (max - min)) + min );\n\n// typeNb (1=temp, 2=humi, 3=power)\ntypeNb = ( Math.floor(Math.random() * (4 - 1)) + 1 );\n\nmsg.payload = {\n    \"typeNb\": typeNb,\n    \"location\": location\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 280,
        "wires": [
            [
                "36b2b68a.e13f82"
            ]
        ]
    },
    {
        "id": "36b2b68a.e13f82",
        "type": "switch",
        "z": "ee322aa5.04059",
        "name": "Type ?",
        "property": "payload.typeNb",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 530,
        "y": 280,
        "wires": [
            [
                "4d2980bf.0f1b6"
            ],
            [
                "af7a4b27.ed814"
            ],
            [
                "72fa5f16.564c2"
            ]
        ]
    },
    {
        "id": "4d2980bf.0f1b6",
        "type": "function",
        "z": "ee322aa5.04059",
        "name": "Temp ?",
        "func": "msg.payload.value = 18 + 5 * Math.random();\nmsg.payload.type = \"temp\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 240,
        "wires": [
            [
                "9a433b2.c7601c8"
            ]
        ]
    },
    {
        "id": "af7a4b27.ed814",
        "type": "function",
        "z": "ee322aa5.04059",
        "name": "Humi ?",
        "func": "msg.payload.value = 50 + 25 * Math.random();\nmsg.payload.type = \"humi\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 280,
        "wires": [
            [
                "9a433b2.c7601c8"
            ]
        ]
    },
    {
        "id": "72fa5f16.564c2",
        "type": "function",
        "z": "ee322aa5.04059",
        "name": "Power ?",
        "func": "msg.payload.value = 1000 * 9 * Math.random();\nmsg.payload.type = \"power\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 320,
        "wires": [
            [
                "9a433b2.c7601c8"
            ]
        ]
    },
    {
        "id": "9a433b2.c7601c8",
        "type": "function",
        "z": "ee322aa5.04059",
        "name": "Query Insert",
        "func": "// TEMP, HUMI, LIGHT, PRESSURE, BATTERY, RAIN\n\nvar msgres =  {\n    payload: {\n        payload: [\n            { \"value\": Number(msg.payload.value) },\n            { \"type\": msg.payload.type, \"location\": msg.payload.location }\n        ],\n        measurement: \"sensors\"\n    }\n}\n\nreturn msgres;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 890,
        "y": 280,
        "wires": [
            [
                "e5ffc698.bbd6f"
            ]
        ]
    }
]