examples/node-red-contrib-zigbee2mqtt/flows.json
[
    {
        "id": "aedecf94.b977e8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1038f6fe.66d569",
        "type": "zigbee2mqtt-server",
        "name": "",
        "host": "mqtt",
        "mqtt_port": "1883",
        "mqtt_username": "",
        "mqtt_password": "",
        "tls": "",
        "usetls": false,
        "base_topic": "zigbee2mqtt"
    },
    {
        "id": "a899f03.9c7ef1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f62c26bd.0fd7c8",
        "type": "zigbee2mqtt-in",
        "z": "aedecf94.b977e8",
        "name": "",
        "server": "1038f6fe.66d569",
        "friendly_name": "SW01OnOffDamien",
        "device_id": "0x5c0272fffed47e36",
        "state": "0",
        "outputAtStartup": true,
        "x": 250,
        "y": 220,
        "wires": [
            [
                "ef058655.f3202"
            ]
        ]
    },
    {
        "id": "ef058655.f3202",
        "type": "debug",
        "z": "aedecf94.b977e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "c05f05f2.493d8",
        "type": "zigbee2mqtt-out",
        "z": "aedecf94.b977e8",
        "name": "",
        "server": "1038f6fe.66d569",
        "friendly_name": "P01220vDamien",
        "device_id": "0xbc33acfffe2ab54a",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "toggle",
        "payloadType": "z2m_payload",
        "transition": 0,
        "x": 760,
        "y": 220,
        "wires": []
    },
    {
        "id": "12fdd482.2b1953",
        "type": "inject",
        "z": "aedecf94.b977e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 500,
        "y": 300,
        "wires": [
            [
                "c05f05f2.493d8"
            ]
        ]
    },
    {
        "id": "26e696f3.001c2a",
        "type": "switch",
        "z": "aedecf94.b977e8",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "brightness_move_up",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "brightness_move_down",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "brightness_stop",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 510,
        "y": 220,
        "wires": [
            [
                "c05f05f2.493d8"
            ],
            [
                "c05f05f2.493d8"
            ],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "9ca901d8.cada3",
        "type": "mqtt out",
        "z": "aedecf94.b977e8",
        "name": "",
        "topic": "zigbee2mqtt/bridge/group/ChDamienBedLight/add",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a899f03.9c7ef1",
        "x": 670,
        "y": 520,
        "wires": []
    },
    {
        "id": "1f333a7a.16ea5e",
        "type": "inject",
        "z": "aedecf94.b977e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "P01220vDamien",
        "payloadType": "str",
        "x": 290,
        "y": 520,
        "wires": [
            [
                "9ca901d8.cada3"
            ]
        ]
    },
    {
        "id": "65edd187.ca2338",
        "type": "zigbee2mqtt-bridge",
        "z": "aedecf94.b977e8",
        "name": "",
        "server": "1038f6fe.66d569",
        "topic": null,
        "x": 690,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "91c13f16.31a348",
        "type": "zigbee2mqtt-in",
        "z": "aedecf94.b977e8",
        "name": "",
        "server": "1038f6fe.66d569",
        "friendly_name": "SW05OnOffDimChBas",
        "device_id": "0x5c0272fffe3c1cd1",
        "state": "0",
        "outputAtStartup": true,
        "x": 250,
        "y": 660,
        "wires": [
            [
                "c2d7ca0e.2f321",
                "f47136f4.cfc5e8"
            ]
        ]
    },
    {
        "id": "c2d7ca0e.2f321",
        "type": "debug",
        "z": "aedecf94.b977e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 580,
        "wires": []
    },
    {
        "id": "91ffdb36.36bf88",
        "type": "zigbee2mqtt-out",
        "z": "aedecf94.b977e8",
        "name": "ChBas Light toggle",
        "server": "1038f6fe.66d569",
        "friendly_name": "ChBasBedLights",
        "device_id": "65289",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "toggle",
        "payloadType": "z2m_payload",
        "transition": 0,
        "x": 870,
        "y": 640,
        "wires": []
    },
    {
        "id": "f47136f4.cfc5e8",
        "type": "switch",
        "z": "aedecf94.b977e8",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "toggle",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "toggle_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "brightness_up_click",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "brightness_up_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "brightness_up_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "brightness_down_click",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "brightness_down_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "brightness_down_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "arrow_left_click",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "arrow_left_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "arrow_left_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "arrow_right_click",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "arrow_right_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "arrow_right_release",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 17,
        "x": 490,
        "y": 740,
        "wires": [
            [
                "91ffdb36.36bf88"
            ],
            [
                "58f83ca.1a29dc4",
                "43833751.45a738"
            ],
            [
                "91ffdb36.36bf88"
            ],
            [
                "91ffdb36.36bf88"
            ],
            [
                "2bafd068.092378"
            ],
            [
                "2bafd068.092378"
            ],
            [],
            [
                "bc142573.007cd"
            ],
            [
                "bc142573.007cd"
            ],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "2bafd068.092378",
        "type": "zigbee2mqtt-out",
        "z": "aedecf94.b977e8",
        "name": "ChBas Light B.up",
        "server": "1038f6fe.66d569",
        "friendly_name": "ChBasBedLights",
        "device_id": "65289",
        "command": "brightness_step",
        "commandType": "z2m_cmd",
        "payload": "20",
        "payloadType": "num",
        "transition": 0,
        "x": 870,
        "y": 760,
        "wires": []
    },
    {
        "id": "bc142573.007cd",
        "type": "zigbee2mqtt-out",
        "z": "aedecf94.b977e8",
        "name": "ChBas Light B.down",
        "server": "1038f6fe.66d569",
        "friendly_name": "ChBasBedLights",
        "device_id": "65289",
        "command": "brightness_step",
        "commandType": "z2m_cmd",
        "payload": "-20",
        "payloadType": "num",
        "transition": 0,
        "x": 880,
        "y": 800,
        "wires": []
    },
    {
        "id": "58f83ca.1a29dc4",
        "type": "zigbee2mqtt-out",
        "z": "aedecf94.b977e8",
        "name": "ChBas Light B. max",
        "server": "1038f6fe.66d569",
        "friendly_name": "ChBasBedLights",
        "device_id": "65289",
        "command": "brightness",
        "commandType": "z2m_cmd",
        "payload": "255",
        "payloadType": "num",
        "transition": 0,
        "x": 880,
        "y": 680,
        "wires": []
    },
    {
        "id": "43833751.45a738",
        "type": "zigbee2mqtt-out",
        "z": "aedecf94.b977e8",
        "name": "ChBas Light C.max",
        "server": "1038f6fe.66d569",
        "friendly_name": "ChBasBedLights",
        "device_id": "65289",
        "command": "color_temp",
        "commandType": "z2m_cmd",
        "payload": "400",
        "payloadType": "num",
        "transition": 0,
        "x": 870,
        "y": 720,
        "wires": []
    }
]