examples/node-red-contrib-zigbee2mqtt/flows.json
[
    {
        "id": "aedecf94.b977e8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1038f6fe.66d569",
        "type": "zigbee2mqtt-server",
        "name": "",
        "host": "mqtt",
        "mqtt_port": "1883",
        "mqtt_username": "",
        "mqtt_password": "",
        "tls": "",
        "usetls": false,
        "base_topic": "zigbee2mqtt"
    },
    {
        "id": "a899f03.9c7ef1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "9ca901d8.cada3",
        "type": "mqtt out",
        "z": "aedecf94.b977e8",
        "name": "",
        "topic": "zigbee2mqtt/bridge/group/ChDamienBedLight/add",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a899f03.9c7ef1",
        "x": 630,
        "y": 1580,
        "wires": []
    },
    {
        "id": "1f333a7a.16ea5e",
        "type": "inject",
        "z": "aedecf94.b977e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "P01220vDamien",
        "payloadType": "str",
        "x": 200,
        "y": 1580,
        "wires": [
            [
                "9ca901d8.cada3"
            ]
        ]
    },
    {
        "id": "c2d7ca0e.2f321",
        "type": "debug",
        "z": "aedecf94.b977e8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1060,
        "wires": []
    },
    {
        "id": "91ffdb36.36bf88",
        "type": "zigbee2mqtt-out",
        "z": "aedecf94.b977e8",
        "name": "ChBas Light toggle",
        "server": "1038f6fe.66d569",
        "friendly_name": "G65289~ChBas~LitA",
        "device_id": "65289",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "toggle",
        "payloadType": "z2m_payload",
        "transition": 0,
        "x": 850,
        "y": 1120,
        "wires": []
    },
    {
        "id": "f47136f4.cfc5e8",
        "type": "switch",
        "z": "aedecf94.b977e8",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "toggle",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "toggle_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "brightness_up_click",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "brightness_up_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "brightness_up_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "brightness_down_click",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "brightness_down_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "brightness_down_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "arrow_left_click",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "arrow_left_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "arrow_left_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "arrow_right_click",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "arrow_right_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "arrow_right_release",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 17,
        "x": 490,
        "y": 1220,
        "wires": [
            [
                "91ffdb36.36bf88"
            ],
            [
                "58f83ca.1a29dc4",
                "43833751.45a738"
            ],
            [
                "91ffdb36.36bf88"
            ],
            [
                "91ffdb36.36bf88"
            ],
            [
                "2bafd068.092378"
            ],
            [
                "2bafd068.092378"
            ],
            [],
            [
                "bc142573.007cd"
            ],
            [
                "bc142573.007cd"
            ],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "2bafd068.092378",
        "type": "zigbee2mqtt-out",
        "z": "aedecf94.b977e8",
        "name": "ChBas Light B.up",
        "server": "1038f6fe.66d569",
        "friendly_name": "G65289~ChBas~LitA",
        "device_id": "65289",
        "command": "brightness_step",
        "commandType": "z2m_cmd",
        "payload": "20",
        "payloadType": "num",
        "transition": 0,
        "x": 850,
        "y": 1240,
        "wires": []
    },
    {
        "id": "bc142573.007cd",
        "type": "zigbee2mqtt-out",
        "z": "aedecf94.b977e8",
        "name": "ChBas Light B.down",
        "server": "1038f6fe.66d569",
        "friendly_name": "G65289~ChBas~LitA",
        "device_id": "65289",
        "command": "brightness_step",
        "commandType": "z2m_cmd",
        "payload": "-20",
        "payloadType": "num",
        "transition": 0,
        "x": 860,
        "y": 1280,
        "wires": []
    },
    {
        "id": "58f83ca.1a29dc4",
        "type": "zigbee2mqtt-out",
        "z": "aedecf94.b977e8",
        "name": "ChBas Light B. max",
        "server": "1038f6fe.66d569",
        "friendly_name": "G65289~ChBas~LitA",
        "device_id": "65289",
        "command": "brightness",
        "commandType": "z2m_cmd",
        "payload": "255",
        "payloadType": "num",
        "transition": 0,
        "x": 860,
        "y": 1160,
        "wires": []
    },
    {
        "id": "43833751.45a738",
        "type": "zigbee2mqtt-out",
        "z": "aedecf94.b977e8",
        "name": "ChBas Light C.max",
        "server": "1038f6fe.66d569",
        "friendly_name": "G65289~ChBas~LitA",
        "device_id": "65289",
        "command": "color_temp",
        "commandType": "z2m_cmd",
        "payload": "400",
        "payloadType": "num",
        "transition": 0,
        "x": 850,
        "y": 1200,
        "wires": []
    },
    {
        "id": "316d492a.809c86",
        "type": "debug",
        "z": "aedecf94.b977e8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 1380,
        "wires": []
    },
    {
        "id": "7e51037b.f8d9dc",
        "type": "zigbee2mqtt-out",
        "z": "aedecf94.b977e8",
        "name": "",
        "server": "1038f6fe.66d569",
        "friendly_name": "P02~Celier~OnOff",
        "device_id": "0xf0d1b8000015d8d5",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "toggle",
        "payloadType": "z2m_payload",
        "transition": 0,
        "x": 850,
        "y": 1420,
        "wires": []
    },
    {
        "id": "de7340.babcbcc",
        "type": "switch",
        "z": "aedecf94.b977e8",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1_single",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2_single",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 1420,
        "wires": [
            [
                "7e51037b.f8d9dc",
                "316d492a.809c86"
            ],
            [
                "d97588be.3d13d"
            ]
        ]
    },
    {
        "id": "d97588be.3d13d",
        "type": "zigbee2mqtt-out",
        "z": "aedecf94.b977e8",
        "name": "",
        "server": "1038f6fe.66d569",
        "friendly_name": "P03~Salon~OnOff01",
        "device_id": "0xbc33acfffe6d7c38",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "toggle",
        "payloadType": "z2m_payload",
        "transition": 0,
        "x": 860,
        "y": 1460,
        "wires": []
    },
    {
        "id": "9ba987c5.47051",
        "type": "debug",
        "z": "aedecf94.b977e8",
        "name": "Listen All",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 560,
        "wires": []
    },
    {
        "id": "691ae13e.0fbcd8",
        "type": "switch",
        "z": "aedecf94.b977e8",
        "name": "commands",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1_single",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2_single",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3_single",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1_double",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2_double",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3_double",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 730,
        "y": 640,
        "wires": [
            [
                "45bde824.3f4e9"
            ],
            [],
            [
                "763189c9.22eca"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "45bde824.3f4e9",
        "type": "change",
        "z": "aedecf94.b977e8",
        "name": "up",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\":\"OPEN\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 600,
        "wires": [
            [
                "a5b16dc9.3e9c2"
            ]
        ]
    },
    {
        "id": "763189c9.22eca",
        "type": "change",
        "z": "aedecf94.b977e8",
        "name": "down",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\":\"CLOSE\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 640,
        "wires": [
            [
                "a5b16dc9.3e9c2"
            ]
        ]
    },
    {
        "id": "e464c701.bc0e78",
        "type": "debug",
        "z": "aedecf94.b977e8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 760,
        "wires": []
    },
    {
        "id": "b74dfe11.0437d8",
        "type": "inject",
        "z": "aedecf94.b977e8",
        "name": "OPEN",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"state\":\"OPEN\"}",
        "payloadType": "json",
        "x": 1150,
        "y": 580,
        "wires": [
            [
                "45bde824.3f4e9"
            ]
        ]
    },
    {
        "id": "bff06dc0.6b4008",
        "type": "inject",
        "z": "aedecf94.b977e8",
        "name": "CLOSE",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"state\":\"CLOSE\"}",
        "payloadType": "json",
        "x": 1150,
        "y": 620,
        "wires": [
            [
                "763189c9.22eca"
            ]
        ]
    },
    {
        "id": "a5b16dc9.3e9c2",
        "type": "mqtt out",
        "z": "aedecf94.b977e8",
        "name": "",
        "topic": "zigbee2mqtt/G01~Volets/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a899f03.9c7ef1",
        "x": 1540,
        "y": 620,
        "wires": []
    },
    {
        "id": "e7e1b682.d56d4",
        "type": "debug",
        "z": "aedecf94.b977e8",
        "name": "Bridge",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 100,
        "wires": []
    },
    {
        "id": "507af25b.88398c",
        "type": "zigbee2mqtt-bridge",
        "z": "aedecf94.b977e8",
        "name": "",
        "server": "1038f6fe.66d569",
        "topic": null,
        "x": 210,
        "y": 100,
        "wires": [
            [
                "e7e1b682.d56d4"
            ]
        ]
    },
    {
        "id": "e96e64bc.438d7",
        "type": "mqtt in",
        "z": "aedecf94.b977e8",
        "name": "",
        "topic": "zigbee2mqtt/bridge/logging",
        "qos": "2",
        "datatype": "json",
        "broker": "a899f03.9c7ef1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 230,
        "y": 160,
        "wires": [
            [
                "8cf1d3e754b79258"
            ]
        ]
    },
    {
        "id": "34f9fa58.a0b6c6",
        "type": "debug",
        "z": "aedecf94.b977e8",
        "name": "Specific Device as MQTT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 220,
        "wires": []
    },
    {
        "id": "eed0b2d.6021dd",
        "type": "range",
        "z": "aedecf94.b977e8",
        "minin": "-180",
        "maxin": "+180",
        "minout": "-50",
        "maxout": "+50",
        "action": "scale",
        "round": true,
        "property": "payload.move",
        "name": "",
        "x": 1260,
        "y": 720,
        "wires": [
            [
                "1e34b1a2.0f6a7e"
            ]
        ]
    },
    {
        "id": "f6eee8a9.4c192",
        "type": "change",
        "z": "aedecf94.b977e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.move",
                "pt": "msg",
                "to": "payload.angle",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 860,
        "wires": [
            [
                "eed0b2d.6021dd"
            ]
        ]
    },
    {
        "id": "1e34b1a2.0f6a7e",
        "type": "change",
        "z": "aedecf94.b977e8",
        "name": "position",
        "rules": [
            {
                "t": "set",
                "p": "tempmove",
                "pt": "msg",
                "to": "payload.move",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.position",
                "pt": "msg",
                "to": "tempmove",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1400,
        "y": 720,
        "wires": [
            [
                "e464c701.bc0e78"
            ]
        ]
    },
    {
        "id": "6b608de3.400844",
        "type": "mqtt in",
        "z": "aedecf94.b977e8",
        "name": "",
        "topic": "zigbee2mqtt/R06~ChBas~LitDroite",
        "qos": "2",
        "datatype": "json",
        "broker": "a899f03.9c7ef1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 260,
        "y": 220,
        "wires": [
            [
                "34f9fa58.a0b6c6"
            ]
        ]
    },
    {
        "id": "df3c34e0.2eba1",
        "type": "mqtt in",
        "z": "aedecf94.b977e8",
        "name": "",
        "topic": "zigbee2mqtt/R06~Salon~Cube",
        "qos": "2",
        "datatype": "json",
        "broker": "a899f03.9c7ef1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 250,
        "y": 820,
        "wires": [
            [
                "aeae78c0fd162aa8",
                "9b9f41b.45e044"
            ]
        ]
    },
    {
        "id": "b2c8645.17f2098",
        "type": "switch",
        "z": "aedecf94.b977e8",
        "name": "Action ?",
        "property": "payload.side",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OPEN",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "CLOSE",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1100,
        "y": 820,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9b9f41b.45e044",
        "type": "debug",
        "z": "aedecf94.b977e8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 880,
        "wires": []
    },
    {
        "id": "aeae78c0fd162aa8",
        "type": "mapper",
        "z": "aedecf94.b977e8",
        "name": "Cube side ?",
        "property": "payload.side",
        "map": [
            {
                "search": "0",
                "replace": "OPEN"
            },
            {
                "search": "3",
                "replace": "CLOSE"
            }
        ],
        "passthrough": false,
        "x": 510,
        "y": 820,
        "wires": [
            [
                "fb2fd3b5f46ed89c"
            ]
        ]
    },
    {
        "id": "fb2fd3b5f46ed89c",
        "type": "switch",
        "z": "aedecf94.b977e8",
        "name": "Changed ?",
        "property": "payload.side",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "cubeside",
                "vt": "global"
            },
            {
                "t": "eq",
                "v": "cubeside",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 820,
        "wires": [
            [
                "af31db8938ad8f94"
            ],
            [
                "c851318bb347f62d",
                "66094bf47591f2a8"
            ]
        ]
    },
    {
        "id": "c851318bb347f62d",
        "type": "debug",
        "z": "aedecf94.b977e8",
        "name": "Not changed",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 920,
        "wires": []
    },
    {
        "id": "af31db8938ad8f94",
        "type": "change",
        "z": "aedecf94.b977e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "cubeside",
                "pt": "global",
                "to": "payload.side",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 820,
        "wires": [
            [
                "b2c8645.17f2098"
            ]
        ]
    },
    {
        "id": "a7147d044c9370ba",
        "type": "change",
        "z": "aedecf94.b977e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "cubeangle",
                "pt": "global",
                "to": "payload.angle",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 860,
        "wires": [
            [
                "f6eee8a9.4c192"
            ]
        ]
    },
    {
        "id": "66094bf47591f2a8",
        "type": "switch",
        "z": "aedecf94.b977e8",
        "name": "Angle changed ?",
        "property": "payload.angle",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "cubeangle",
                "vt": "global"
            },
            {
                "t": "eq",
                "v": "cubeangle",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 860,
        "wires": [
            [
                "a7147d044c9370ba"
            ],
            [
                "61e66257069a150e"
            ]
        ]
    },
    {
        "id": "61e66257069a150e",
        "type": "debug",
        "z": "aedecf94.b977e8",
        "name": "Not changed",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 920,
        "wires": []
    },
    {
        "id": "8cf1d3e754b79258",
        "type": "debug",
        "z": "aedecf94.b977e8",
        "name": "Bridge as MQTT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 140,
        "wires": []
    },
    {
        "id": "1f2bbecf3d857924",
        "type": "comment",
        "z": "aedecf94.b977e8",
        "name": "Listeners",
        "info": "",
        "x": 160,
        "y": 60,
        "wires": []
    },
    {
        "id": "bb3ee58842d32f4b",
        "type": "comment",
        "z": "aedecf94.b977e8",
        "name": "Actioning a remote button",
        "info": "",
        "x": 210,
        "y": 520,
        "wires": []
    },
    {
        "id": "4c0aa784ad0131da",
        "type": "comment",
        "z": "aedecf94.b977e8",
        "name": "Actioning the magic cube",
        "info": "",
        "x": 210,
        "y": 760,
        "wires": []
    },
    {
        "id": "cefb76483af6107a",
        "type": "mqtt in",
        "z": "aedecf94.b977e8",
        "name": "",
        "topic": "zigbee2mqtt/R05~ChBas~LitGauche",
        "qos": "2",
        "datatype": "json",
        "broker": "a899f03.9c7ef1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 260,
        "y": 1060,
        "wires": [
            [
                "c2d7ca0e.2f321",
                "f47136f4.cfc5e8"
            ]
        ]
    },
    {
        "id": "98fe241cf6a66988",
        "type": "comment",
        "z": "aedecf94.b977e8",
        "name": "Actioning lights",
        "info": "",
        "x": 180,
        "y": 1020,
        "wires": []
    },
    {
        "id": "163c4036c514270f",
        "type": "mqtt in",
        "z": "aedecf94.b977e8",
        "name": "",
        "topic": "zigbee2mqtt/R02~Volets~OnOff",
        "qos": "2",
        "datatype": "auto",
        "broker": "a899f03.9c7ef1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 250,
        "y": 560,
        "wires": [
            [
                "691ae13e.0fbcd8",
                "9ba987c5.47051"
            ]
        ]
    },
    {
        "id": "19d2e415b9d4ac5e",
        "type": "mqtt in",
        "z": "aedecf94.b977e8",
        "name": "",
        "topic": "zigbee2mqtt/R03~Celier~OnOff",
        "qos": "2",
        "datatype": "json",
        "broker": "a899f03.9c7ef1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 250,
        "y": 1420,
        "wires": [
            [
                "de7340.babcbcc"
            ]
        ]
    },
    {
        "id": "538f4dc2013aad3b",
        "type": "comment",
        "z": "aedecf94.b977e8",
        "name": "Grouping",
        "info": "",
        "x": 160,
        "y": 1540,
        "wires": []
    },
    {
        "id": "2456c2691e63550a",
        "type": "mqtt in",
        "z": "aedecf94.b977e8",
        "name": "",
        "topic": "zigbee2mqtt/+",
        "qos": "2",
        "datatype": "json",
        "broker": "a899f03.9c7ef1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 190,
        "y": 280,
        "wires": [
            [
                "b6fd908abe276544"
            ]
        ]
    },
    {
        "id": "ddb8710aa56ed040",
        "type": "debug",
        "z": "aedecf94.b977e8",
        "name": "Remotes",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 260,
        "wires": []
    },
    {
        "id": "b6fd908abe276544",
        "type": "switch",
        "z": "aedecf94.b977e8",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "zigbee2mqtt/R",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "zigbee2mqtt/S",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "zigbee2mqtt/V",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "zigbee2mqtt/P",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "zigbee2mqtt/M",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "zigbee2mqtt/L",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 450,
        "y": 320,
        "wires": [
            [
                "ddb8710aa56ed040"
            ],
            [
                "923c4846e1b8fe6b"
            ],
            [
                "ee7e2c6ce4d5f682"
            ],
            [
                "7f312adc3f3731da"
            ],
            [
                "64068aa48df46475"
            ],
            [
                "1941175f91fc712b"
            ],
            [
                "ba73181e7cd92862"
            ]
        ]
    },
    {
        "id": "923c4846e1b8fe6b",
        "type": "debug",
        "z": "aedecf94.b977e8",
        "name": "Sensors",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 300,
        "wires": []
    },
    {
        "id": "ee7e2c6ce4d5f682",
        "type": "debug",
        "z": "aedecf94.b977e8",
        "name": "Volets",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 340,
        "wires": []
    },
    {
        "id": "7f312adc3f3731da",
        "type": "debug",
        "z": "aedecf94.b977e8",
        "name": "Plugs",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 380,
        "wires": []
    },
    {
        "id": "ba73181e7cd92862",
        "type": "debug",
        "z": "aedecf94.b977e8",
        "name": "Others",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 500,
        "wires": []
    },
    {
        "id": "64068aa48df46475",
        "type": "debug",
        "z": "aedecf94.b977e8",
        "name": "Motion",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 420,
        "wires": []
    },
    {
        "id": "1941175f91fc712b",
        "type": "debug",
        "z": "aedecf94.b977e8",
        "name": "Lights",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 460,
        "wires": []
    }
]