examples/basics-mongodb-http-contacts-api/flows.json
[
    {
        "id": "8c0bf6c8.3070a8",
        "type": "tab",
        "label": "Example MongoDB",
        "disabled": false,
        "info": ""
    },
    {
        "id": "27cbe166.1bdcbe",
        "type": "mongodb2",
        "z": "",
        "uri": "mongodb://mongo:27017/contacts",
        "name": "Contacts",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "e160ebdd.7378c8",
        "type": "mongodb2",
        "name": ""
    },
    {
        "id": "cd7ac2d3.cd6208",
        "type": "remote-server",
        "z": "",
        "name": "elasticsearch",
        "host": "http://elasticsearch:9200",
        "timeout": "10000",
        "reqtimeout": "10000"
    },
    {
        "id": "da780982.7dbdf",
        "type": "mongodb2",
        "name": ""
    },
    {
        "id": "58590358.894f04",
        "type": "http in",
        "z": "8c0bf6c8.3070a8",
        "name": "GET /contacts/:id",
        "url": "/contacts/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "e2731756.21cd98",
                "3e7f3b80.3cbc1c"
            ]
        ]
    },
    {
        "id": "ffc79591.ae7c2",
        "type": "http in",
        "z": "8c0bf6c8.3070a8",
        "name": "POST /contacts",
        "url": "/contacts",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "9cc746f9.ae4d5"
            ]
        ]
    },
    {
        "id": "540af128.378f18",
        "type": "http response",
        "z": "8c0bf6c8.3070a8",
        "name": "response",
        "statusCode": "200",
        "headers": {
            "Content-Type": "application/json"
        },
        "x": 1040,
        "y": 100,
        "wires": []
    },
    {
        "id": "9cc746f9.ae4d5",
        "type": "function",
        "z": "8c0bf6c8.3070a8",
        "name": "MongoDB req. prep.",
        "func": "var newMsg = msg;\nnewMsg.collection = 'Contacts';\n//newMsg.operation  = 'deleteOne';\nnewMsg.operation  = 'insert';\nnewMsg.payload    = msg.req.body;\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 100,
        "wires": [
            [
                "e5ccda8c.b31b68"
            ]
        ]
    },
    {
        "id": "2d4a6c46.b51fb4",
        "type": "mongodb2 in",
        "z": "8c0bf6c8.3070a8",
        "service": "_ext_",
        "configNode": "27cbe166.1bdcbe",
        "name": "Find Contact by Id",
        "collection": "Contacts",
        "operation": "",
        "x": 850,
        "y": 160,
        "wires": [
            [
                "27e2a522.33a49a",
                "93d41234.0099d8"
            ]
        ]
    },
    {
        "id": "e5ccda8c.b31b68",
        "type": "mongodb2 in",
        "z": "8c0bf6c8.3070a8",
        "service": "_ext_",
        "configNode": "27cbe166.1bdcbe",
        "name": "Insert Contact",
        "collection": "",
        "operation": "",
        "x": 660,
        "y": 100,
        "wires": [
            [
                "1061615.3d2c89f"
            ]
        ]
    },
    {
        "id": "c047b72a.4c79b8",
        "type": "http in",
        "z": "8c0bf6c8.3070a8",
        "name": "DELETE /contacts/:id",
        "url": "/contacts/:id",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 280,
        "wires": [
            [
                "bb5dfed8.e626d8",
                "3e7f3b80.3cbc1c"
            ]
        ]
    },
    {
        "id": "bb5dfed8.e626d8",
        "type": "function",
        "z": "8c0bf6c8.3070a8",
        "name": "MongoDB req. prep.",
        "func": "var newMsg = msg;\nnewMsg.operation  = 'deleteOne';\nnewMsg.payload    = { '_id' : msg.req.params['id'] };\n//newMsg.projection = { '_id' : 1 };\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 280,
        "wires": [
            [
                "44d42a1b.a173f4",
                "e7738447.0fcf58"
            ]
        ]
    },
    {
        "id": "eee28c80.a627b8",
        "type": "mongodb2 in",
        "z": "8c0bf6c8.3070a8",
        "service": "_ext_",
        "configNode": "27cbe166.1bdcbe",
        "name": "Delete Contact",
        "collection": "Contacts",
        "operation": "",
        "x": 840,
        "y": 280,
        "wires": [
            [
                "4ce59fb7.f710f",
                "93d41234.0099d8"
            ]
        ]
    },
    {
        "id": "1061615.3d2c89f",
        "type": "function",
        "z": "8c0bf6c8.3070a8",
        "name": "extract id",
        "func": "var newMsg = msg;\nnewMsg.payload = { \"_id\": msg.payload.ops[0]._id };\n//newMsg.payload = msg.payload.ops[0];\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 100,
        "wires": [
            [
                "540af128.378f18"
            ]
        ]
    },
    {
        "id": "e2731756.21cd98",
        "type": "function",
        "z": "8c0bf6c8.3070a8",
        "name": "MongoDB req. prep.",
        "func": " var newMsg = msg;\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = { '_id' : msg.req.params['id'] };\n//newMsg.projection = { '_id' : 1 };\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 160,
        "wires": [
            [
                "38936eb8.7fb302",
                "e7738447.0fcf58"
            ]
        ]
    },
    {
        "id": "3968fad2.379756",
        "type": "http in",
        "z": "8c0bf6c8.3070a8",
        "name": "GET /contacts",
        "url": "/contacts",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "c9c15853.d0bed",
                "3e7f3b80.3cbc1c"
            ]
        ]
    },
    {
        "id": "a2c77c39.fbf91",
        "type": "mongodb2 in",
        "z": "8c0bf6c8.3070a8",
        "service": "_ext_",
        "configNode": "27cbe166.1bdcbe",
        "name": "Find Contacts",
        "collection": "Contacts",
        "operation": "",
        "x": 820,
        "y": 400,
        "wires": [
            [
                "cf4db7d9.63f938",
                "93d41234.0099d8"
            ]
        ]
    },
    {
        "id": "1588411d.398bcf",
        "type": "function",
        "z": "8c0bf6c8.3070a8",
        "name": "MongoDB req. prep.",
        "func": "var newMsg = msg;\nnewMsg.collection = 'Contacts';\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = msg.req.query;\n// newMsg.projection = { '_id' : 0 };\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 400,
        "wires": [
            [
                "a2c77c39.fbf91",
                "5fbf999f.ca7838"
            ]
        ]
    },
    {
        "id": "27e2a522.33a49a",
        "type": "http response",
        "z": "8c0bf6c8.3070a8",
        "name": "response",
        "statusCode": "200",
        "headers": {
            "Content-Type": "application/json"
        },
        "x": 1040,
        "y": 160,
        "wires": []
    },
    {
        "id": "cf4db7d9.63f938",
        "type": "http response",
        "z": "8c0bf6c8.3070a8",
        "name": "response",
        "statusCode": "200",
        "headers": {
            "Content-Type": "application/json"
        },
        "x": 1040,
        "y": 400,
        "wires": []
    },
    {
        "id": "38936eb8.7fb302",
        "type": "objectid",
        "z": "8c0bf6c8.3070a8",
        "name": "",
        "selectedProperty": "_id",
        "x": 630,
        "y": 160,
        "wires": [
            [
                "2d4a6c46.b51fb4",
                "5fbf999f.ca7838"
            ]
        ]
    },
    {
        "id": "b02ab41a.eb89c8",
        "type": "http response",
        "z": "8c0bf6c8.3070a8",
        "name": "response",
        "statusCode": "",
        "headers": {
            "Content-Type": "application/json"
        },
        "x": 1240,
        "y": 280,
        "wires": []
    },
    {
        "id": "44d42a1b.a173f4",
        "type": "objectid",
        "z": "8c0bf6c8.3070a8",
        "name": "",
        "selectedProperty": "_id",
        "x": 630,
        "y": 280,
        "wires": [
            [
                "eee28c80.a627b8",
                "5fbf999f.ca7838"
            ]
        ]
    },
    {
        "id": "c9c15853.d0bed",
        "type": "switch",
        "z": "8c0bf6c8.3070a8",
        "name": "Mongo/ES",
        "property": "req.query['q']",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 400,
        "wires": [
            [
                "1588411d.398bcf",
                "e7738447.0fcf58"
            ],
            [
                "e7738447.0fcf58"
            ]
        ]
    },
    {
        "id": "8d17d8fd.bf6478",
        "type": "comment",
        "z": "8c0bf6c8.3070a8",
        "name": "Contacts API - CRUD",
        "info": "",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "5cc46b6.8024d14",
        "type": "comment",
        "z": "8c0bf6c8.3070a8",
        "name": "Contacts API - search",
        "info": "",
        "x": 140,
        "y": 360,
        "wires": []
    },
    {
        "id": "921be2b.88d33a",
        "type": "http in",
        "z": "8c0bf6c8.3070a8",
        "name": "PUT /contacts/:id",
        "url": "/contacts/:id",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "99c72eb8.77664",
                "3e7f3b80.3cbc1c"
            ]
        ]
    },
    {
        "id": "99c72eb8.77664",
        "type": "function",
        "z": "8c0bf6c8.3070a8",
        "name": "MongoDB req. prep.",
        "func": "var newMsg = msg;\nnewMsg.operation  = 'update';\n//newMsg.payload    = { '_id' : msg.req.params['id'] };\n//newMsg.projection = { '_id' : 1 };\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 220,
        "wires": [
            [
                "521b784a.fe3e9",
                "e7738447.0fcf58"
            ]
        ]
    },
    {
        "id": "c25316ea.d71f8",
        "type": "mongodb2 in",
        "z": "8c0bf6c8.3070a8",
        "service": "_ext_",
        "configNode": "27cbe166.1bdcbe",
        "name": "Update Contact by Id",
        "collection": "Contacts",
        "operation": "updateOne",
        "x": 860,
        "y": 220,
        "wires": [
            [
                "2eda784.5667d08",
                "93d41234.0099d8"
            ]
        ]
    },
    {
        "id": "521b784a.fe3e9",
        "type": "objectid",
        "z": "8c0bf6c8.3070a8",
        "name": "",
        "selectedProperty": "_id",
        "x": 630,
        "y": 220,
        "wires": [
            [
                "c25316ea.d71f8",
                "5fbf999f.ca7838"
            ]
        ]
    },
    {
        "id": "2eda784.5667d08",
        "type": "http response",
        "z": "8c0bf6c8.3070a8",
        "name": "response",
        "statusCode": "200",
        "headers": {
            "Content-Type": "application/json"
        },
        "x": 1040,
        "y": 220,
        "wires": []
    },
    {
        "id": "bfec3535.6272d",
        "type": "catch",
        "z": "8c0bf6c8.3070a8",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 180,
        "y": 560,
        "wires": [
            [
                "4eda4825.b2a858"
            ]
        ]
    },
    {
        "id": "4eda4825.b2a858",
        "type": "debug",
        "z": "8c0bf6c8.3070a8",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 380,
        "y": 560,
        "wires": []
    },
    {
        "id": "4ce59fb7.f710f",
        "type": "function",
        "z": "8c0bf6c8.3070a8",
        "name": "204 No Content",
        "func": "// FIXME: should check payload.n > 0\n\nmsg.payload = {};\nmsg.statusCode = 200;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1060,
        "y": 280,
        "wires": [
            [
                "b02ab41a.eb89c8"
            ]
        ]
    },
    {
        "id": "3e7f3b80.3cbc1c",
        "type": "debug",
        "z": "8c0bf6c8.3070a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 390,
        "y": 340,
        "wires": []
    },
    {
        "id": "e7738447.0fcf58",
        "type": "debug",
        "z": "8c0bf6c8.3070a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 630,
        "y": 340,
        "wires": []
    },
    {
        "id": "5fbf999f.ca7838",
        "type": "debug",
        "z": "8c0bf6c8.3070a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 810,
        "y": 340,
        "wires": []
    },
    {
        "id": "93d41234.0099d8",
        "type": "debug",
        "z": "8c0bf6c8.3070a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1030,
        "y": 340,
        "wires": []
    },
    {
        "id": "29253e79.52636a",
        "type": "comment",
        "z": "8c0bf6c8.3070a8",
        "name": "FIXME",
        "info": "",
        "x": 170,
        "y": 240,
        "wires": []
    },
    {
        "id": "9ebcaaa6.1bb468",
        "type": "comment",
        "z": "8c0bf6c8.3070a8",
        "name": "FIXME",
        "info": "",
        "x": 170,
        "y": 420,
        "wires": []
    }
]