data/flows.json
[
    {
        "id": "b9afddb.4a0a82",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "fa38add9.6dba5",
        "type": "inject",
        "z": "b9afddb.4a0a82",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "d9dc3ad7.7390d"
            ]
        ]
    },
    {
        "id": "d9dc3ad7.7390d",
        "type": "debug",
        "z": "b9afddb.4a0a82",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 390,
        "y": 80,
        "wires": []
    },
    {
        "id": "f63c240d.08a19",
        "type": "sunrise",
        "z": "b9afddb.4a0a82",
        "name": "",
        "lat": "48.5",
        "lon": "-4.5",
        "start": "sunrise",
        "end": "sunset",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "d9dc3ad7.7390d"
            ],
            [
                "d9dc3ad7.7390d"
            ]
        ]
    }
]