data/flows.json
[
    {
        "id": "b9afddb.4a0a82",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "cd3259a2.b33fb8",
        "type": "inject",
        "z": "b9afddb.4a0a82",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 160,
        "y": 140,
        "wires": [
            [
                "14a6f751.eccf11"
            ]
        ]
    },
    {
        "id": "123752a5.01877d",
        "type": "debug",
        "z": "b9afddb.4a0a82",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1130,
        "y": 200,
        "wires": []
    },
    {
        "id": "cbd01821.07acd",
        "type": "watch",
        "z": "b9afddb.4a0a82",
        "name": "contacts.csv",
        "files": "/etc/my-app/contacts.csv",
        "recursive": "",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "14a6f751.eccf11"
            ]
        ]
    },
    {
        "id": "14a6f751.eccf11",
        "type": "file in",
        "z": "b9afddb.4a0a82",
        "name": "",
        "filename": "/etc/my-app/contacts.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 410,
        "y": 200,
        "wires": [
            [
                "2944a907.6654c6"
            ]
        ]
    },
    {
        "id": "2944a907.6654c6",
        "type": "csv",
        "z": "b9afddb.4a0a82",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "x": 610,
        "y": 200,
        "wires": [
            [
                "732ae3fe.5c7704"
            ]
        ]
    },
    {
        "id": "732ae3fe.5c7704",
        "type": "simpletime",
        "z": "b9afddb.4a0a82",
        "name": "",
        "x": 770,
        "y": 200,
        "wires": [
            [
                "4254205e.3ec648"
            ]
        ]
    },
    {
        "id": "488d34dd.04068c",
        "type": "sunrise",
        "z": "b9afddb.4a0a82",
        "name": "",
        "lat": "48.5",
        "lon": "-4.5",
        "start": "sunrise",
        "end": "sunset",
        "x": 150,
        "y": 180,
        "wires": [
            [],
            [
                "14a6f751.eccf11"
            ]
        ]
    },
    {
        "id": "4254205e.3ec648",
        "type": "function",
        "z": "b9afddb.4a0a82",
        "name": "Check date",
        "func": "if (msg.payload.Birthdate !== undefined) {\n    var parts = msg.payload.Birthdate.split(\"-\");\n    \n    if(parts[0] == msg.mydom && parts[1] == msg.mymonthn) {\n        var res = {}\n        res.payload = \"Happy Birthday \" + msg.payload.FirstName + \" \" + msg.payload.LastName\n        return res;\n    }\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 960,
        "y": 200,
        "wires": [
            [
                "123752a5.01877d"
            ]
        ]
    }
]