examples/contacts/flows.json
[
    {
        "id": "8c0bf6c8.3070a8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "27cbe166.1bdcbe",
        "type": "mongodb2",
        "z": "",
        "uri": "mongodb://mongo:27017/contacts",
        "name": "Contacts",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "58590358.894f04",
        "type": "http in",
        "z": "8c0bf6c8.3070a8",
        "name": "GET /contacts",
        "url": "/contacts",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 140,
        "wires": [
            [
                "2d4a6c46.b51fb4"
            ]
        ]
    },
    {
        "id": "ffc79591.ae7c2",
        "type": "http in",
        "z": "8c0bf6c8.3070a8",
        "name": "POST /contacts",
        "url": "/contacts",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 220,
        "wires": [
            [
                "9cc746f9.ae4d5"
            ]
        ]
    },
    {
        "id": "eb4b05c9.d2e9e",
        "type": "debug",
        "z": "8c0bf6c8.3070a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "540af128.378f18",
        "type": "http response",
        "z": "8c0bf6c8.3070a8",
        "name": "response",
        "statusCode": "200",
        "headers": {
            "Content-Type": "application/json"
        },
        "x": 840,
        "y": 140,
        "wires": []
    },
    {
        "id": "9cc746f9.ae4d5",
        "type": "function",
        "z": "8c0bf6c8.3070a8",
        "name": "",
        "func": "msg.payload = msg.req.body;  \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 220,
        "wires": [
            [
                "e5ccda8c.b31b68"
            ]
        ]
    },
    {
        "id": "2d4a6c46.b51fb4",
        "type": "mongodb2 in",
        "z": "8c0bf6c8.3070a8",
        "service": "_ext_",
        "configNode": "27cbe166.1bdcbe",
        "name": "Find Contacts",
        "collection": "Contacts",
        "operation": "find.toArray",
        "x": 460,
        "y": 140,
        "wires": [
            [
                "540af128.378f18",
                "eb4b05c9.d2e9e"
            ]
        ]
    },
    {
        "id": "e5ccda8c.b31b68",
        "type": "mongodb2 in",
        "z": "8c0bf6c8.3070a8",
        "service": "_ext_",
        "configNode": "27cbe166.1bdcbe",
        "name": "Insert Contact",
        "collection": "Contacts",
        "operation": "insert",
        "x": 560,
        "y": 220,
        "wires": [
            [
                "540af128.378f18",
                "eb4b05c9.d2e9e"
            ]
        ]
    }
]