examples/contacts/flows.json
[
    {
        "id": "8c0bf6c8.3070a8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fbe7c387.18fa78",
        "type": "mongodb-config",
        "z": "",
        "hostname": "mongo",
        "port": "27017",
        "db": "contacts",
        "name": "contacts"
    },
    {
        "id": "58590358.894f04",
        "type": "http in",
        "z": "8c0bf6c8.3070a8",
        "name": "GET /contacts",
        "url": "/contacts",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 140,
        "wires": [
            [
                "9cc746f9.ae4d5"
            ]
        ]
    },
    {
        "id": "ffc79591.ae7c2",
        "type": "http in",
        "z": "8c0bf6c8.3070a8",
        "name": "POST /contacts",
        "url": "/contacts",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 60,
        "wires": [
            [
                "45dea7a4.43b12"
            ]
        ]
    },
    {
        "id": "d8ca890f.453708",
        "type": "http in",
        "z": "8c0bf6c8.3070a8",
        "name": "PUT /contacts/:id",
        "url": "/contacts/:id",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "540af128.378f18"
            ]
        ]
    },
    {
        "id": "e0dd56fb.759c7",
        "type": "http in",
        "z": "8c0bf6c8.3070a8",
        "name": "DELETE /contacts/:id",
        "url": "/contacts/:id",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 420,
        "wires": [
            [
                "540af128.378f18"
            ]
        ]
    },
    {
        "id": "eb4b05c9.d2e9e",
        "type": "debug",
        "z": "8c0bf6c8.3070a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 830,
        "y": 60,
        "wires": []
    },
    {
        "id": "540af128.378f18",
        "type": "http response",
        "z": "8c0bf6c8.3070a8",
        "name": "echo response",
        "statusCode": "200",
        "headers": {
            "Content-Type": "application/json"
        },
        "x": 900,
        "y": 240,
        "wires": []
    },
    {
        "id": "45dea7a4.43b12",
        "type": "mongodb-node",
        "z": "8c0bf6c8.3070a8",
        "mongodb": "fbe7c387.18fa78",
        "name": "Save Contacts",
        "collection": "Contacts",
        "operation": "insert",
        "upsert": false,
        "multi": false,
        "x": 620,
        "y": 60,
        "wires": [
            [
                "540af128.378f18",
                "eb4b05c9.d2e9e"
            ]
        ]
    },
    {
        "id": "98e6bce4.82f77",
        "type": "mongodb-node",
        "z": "8c0bf6c8.3070a8",
        "mongodb": "fbe7c387.18fa78",
        "name": "Get All Contacts",
        "collection": "Contacts",
        "operation": "find",
        "upsert": false,
        "multi": false,
        "x": 620,
        "y": 140,
        "wires": [
            [
                "540af128.378f18"
            ]
        ]
    },
    {
        "id": "9cc746f9.ae4d5",
        "type": "function",
        "z": "8c0bf6c8.3070a8",
        "name": "",
        "func": "msg.limit = 100;\nmsg.skip = 0;\nmsg.sort = {\"date\":-1}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 140,
        "wires": [
            [
                "98e6bce4.82f77"
            ]
        ]
    },
    {
        "id": "eb18a8e7.c7ecf",
        "type": "http in",
        "z": "8c0bf6c8.3070a8",
        "name": "GET /contacts/:id",
        "url": "/contacts/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 220,
        "wires": [
            [
                "d997b8df.e987d",
                "279107ae.a4c448"
            ]
        ]
    },
    {
        "id": "d997b8df.e987d",
        "type": "function",
        "z": "8c0bf6c8.3070a8",
        "name": "",
        "func": "msg.query = {}\nmsg.query._id = msg.req.params.id;\nmsg.limit = 5;\nmsg.skip = 0;\nmsg.sort = {\"date\":-1}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 220,
        "wires": [
            [
                "32d52951.042a96"
            ]
        ]
    },
    {
        "id": "32d52951.042a96",
        "type": "mongodb-node",
        "z": "8c0bf6c8.3070a8",
        "mongodb": "fbe7c387.18fa78",
        "name": "Get Contact By Id",
        "collection": "Contacts",
        "operation": "find",
        "upsert": false,
        "multi": false,
        "x": 630,
        "y": 220,
        "wires": [
            [
                "540af128.378f18"
            ]
        ]
    },
    {
        "id": "279107ae.a4c448",
        "type": "debug",
        "z": "8c0bf6c8.3070a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 430,
        "y": 260,
        "wires": []
    }
]