examples/node-red-contrib-flow-manager/flows-node-red-contrib-flow-manager.json
[
    {
        "id": "89f933d.eb5c85",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c7ec8cd1.cc7c",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e427edd9.6a2d6",
        "type": "inject",
        "z": "89f933d.eb5c85",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 160,
        "wires": [
            [
                "50d9478e.fc554"
            ]
        ]
    },
    {
        "id": "50d9478e.fc554",
        "type": "debug",
        "z": "89f933d.eb5c85",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "907f858c.cdb1e8",
        "type": "inject",
        "z": "c7ec8cd1.cc7c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 220,
        "wires": [
            [
                "3a525176.46c7a6"
            ]
        ]
    },
    {
        "id": "3a525176.46c7a6",
        "type": "debug",
        "z": "c7ec8cd1.cc7c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 240,
        "wires": []
    }
]