examples/chat-queue-telegram/flows.json
[
    {
        "id": "b19d2de2.d6a79",
        "type": "tab",
        "label": "Scheduler API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a2bbb6f1.3942c8",
        "type": "tab",
        "label": "Telegram Mgmt",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d6af186b.004918",
        "type": "tab",
        "label": "Chat WS <> Telegram",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5ed67383.5985ac",
        "type": "redis-config",
        "z": "",
        "name": "redis:6379",
        "options": "{\"host\":\"redis\"}",
        "cluster": false,
        "optionsType": "json"
    },
    {
        "id": "28c31e1f.031b7a",
        "type": "telegram bot",
        "z": "",
        "botname": "Ghost",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "3000",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "verboselogging": true
    },
    {
        "id": "ad6fda06.930828",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/agent/receive",
        "wholemsg": "false"
    },
    {
        "id": "f3eba521.b2e75",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/agent/publish",
        "wholemsg": "false"
    },
    {
        "id": "f6bb74c5.558b4",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/customer/receive",
        "wholemsg": "false"
    },
    {
        "id": "bb3776ec.76bac8",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/customer/publish",
        "wholemsg": "false"
    },
    {
        "id": "27bd0690.bbba72",
        "type": "function",
        "z": "d6af186b.004918",
        "name": "Pre-process",
        "func": "return [ \n    {\n        payload: {\n            timestamp: new Date().getTime(),\n            username: \"agent\",\n            msg: \"How may I help you?\"\n        }\n    },\n    {\n        payload: {\n            timestamp: new Date().getTime(),\n            username: \"SYSTEM\",\n            msg: \"Connecting user: \" +  global.get('telegramID') + \" for ixn=\" + msg.payload.id\n        }\n    }\n]",
        "outputs": 2,
        "noerr": 0,
        "x": 610,
        "y": 520,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "83273acf.ef29",
        "type": "catch",
        "z": "b19d2de2.d6a79",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 240,
        "y": 1040,
        "wires": [
            [
                "f174a574.3cfdd"
            ]
        ]
    },
    {
        "id": "f174a574.3cfdd",
        "type": "debug",
        "z": "b19d2de2.d6a79",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1450,
        "y": 1040,
        "wires": []
    },
    {
        "id": "9a2b4e5.a67fbb",
        "type": "function",
        "z": "b19d2de2.d6a79",
        "name": "TimeIndex",
        "func": "msg.payload = [ msg.triggerTimeMs, msg.uuid ]\nmsg.topic = \"tasks\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1080,
        "y": 100,
        "wires": [
            [
                "881d73b7.68475"
            ]
        ]
    },
    {
        "id": "50bad933.6b4ce",
        "type": "http in",
        "z": "b19d2de2.d6a79",
        "name": "",
        "url": "/tasks",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 100,
        "wires": [
            [
                "6f639e3e.b4ca7"
            ]
        ]
    },
    {
        "id": "b4cd0c04.d7381",
        "type": "debug",
        "z": "b19d2de2.d6a79",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1450,
        "y": 180,
        "wires": []
    },
    {
        "id": "3fcd1591.b8b802",
        "type": "http response",
        "z": "b19d2de2.d6a79",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1450,
        "y": 660,
        "wires": []
    },
    {
        "id": "881d73b7.68475",
        "type": "redis-command",
        "z": "b19d2de2.d6a79",
        "server": "5ed67383.5985ac",
        "command": "zadd",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1120,
        "y": 140,
        "wires": [
            [
                "49fd0459.99431c"
            ]
        ]
    },
    {
        "id": "6f639e3e.b4ca7",
        "type": "uuid",
        "z": "b19d2de2.d6a79",
        "uuidVersion": "v4",
        "namespaceType": "",
        "namespace": "",
        "namespaceCustom": "",
        "name": "",
        "field": "uuid",
        "fieldType": "msg",
        "x": 270,
        "y": 140,
        "wires": [
            [
                "f9dba8e5.51d4e"
            ]
        ]
    },
    {
        "id": "fead6e8.245de1",
        "type": "comment",
        "z": "b19d2de2.d6a79",
        "name": "POST Task",
        "info": "",
        "x": 90,
        "y": 60,
        "wires": []
    },
    {
        "id": "475c54c5.c6ef64",
        "type": "moment",
        "z": "b19d2de2.d6a79",
        "name": "ISO => EPOCH",
        "topic": "",
        "input": "payload.triggerTimeISO",
        "inputType": "msg",
        "inTz": "ETC/GMT",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "date",
        "locale": "POSIX",
        "output": "triggerTimeDate",
        "outputType": "msg",
        "outTz": "Europe/Paris",
        "x": 540,
        "y": 140,
        "wires": [
            [
                "4bacfc32.e71ae4"
            ]
        ]
    },
    {
        "id": "b8f3b370.5a855",
        "type": "http in",
        "z": "b19d2de2.d6a79",
        "name": "",
        "url": "/tasks",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 680,
        "wires": [
            [
                "b29d1f4a.207ce8"
            ]
        ]
    },
    {
        "id": "205132b8.03fd46",
        "type": "redis-command",
        "z": "b19d2de2.d6a79",
        "server": "5ed67383.5985ac",
        "command": "zrangebyscore",
        "name": "",
        "topic": "tasks",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 870,
        "y": 680,
        "wires": [
            [
                "47af8106.938be"
            ]
        ]
    },
    {
        "id": "b29d1f4a.207ce8",
        "type": "function",
        "z": "b19d2de2.d6a79",
        "name": "Pre-Process",
        "func": "msg.payload = [ \"-inf\", \"+inf\" ]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 680,
        "wires": [
            [
                "205132b8.03fd46"
            ]
        ]
    },
    {
        "id": "54442106.c1494",
        "type": "comment",
        "z": "b19d2de2.d6a79",
        "name": "GET Tasks",
        "info": "",
        "x": 80,
        "y": 640,
        "wires": []
    },
    {
        "id": "47af8106.938be",
        "type": "function",
        "z": "b19d2de2.d6a79",
        "name": "Loop on Details",
        "func": "let redis = context.flow.get('redis');\n\n/*\nredis.info().then((data)=>{\n    msg.payload = data\n    node.send(msg);\n})\n*/\n\ntasks = msg.payload\nmsg.payload = {}\nmsg.payload.tasks = []\n\nfor (var j = 0; j < tasks.length; j++) {\n    task = tasks[j]\n\n    redis.call(\"hget\", \"taskDetails\", task).then((data)=>{\n        taskJSON = JSON.parse(data)\n        msg.payload.tasks.push(taskJSON)\n    })\n}\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1280,
        "y": 680,
        "wires": [
            [
                "3fcd1591.b8b802",
                "1115cd00.eb3f3b"
            ]
        ]
    },
    {
        "id": "550495fc.813d84",
        "type": "redis-command",
        "z": "b19d2de2.d6a79",
        "server": "5ed67383.5985ac",
        "command": "hset",
        "name": "",
        "topic": "taskDetails",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 900,
        "y": 140,
        "wires": [
            [
                "9a2b4e5.a67fbb"
            ]
        ]
    },
    {
        "id": "5024946e.d65f3c",
        "type": "function",
        "z": "b19d2de2.d6a79",
        "name": "UserData",
        "func": "// park payload\nmsg.inboundPayload = msg.payload\n\n// enhance parked payload\nmsg.inboundPayload.id = msg.uuid\nmsg.inboundPayload.triggerTimeMs = msg.triggerTimeMs\n\n// build storage request\nmsg.payload = [ msg.uuid, JSON.stringify(msg.inboundPayload) ]\nmsg.topic = \"taskDetails\"\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 100,
        "wires": [
            [
                "550495fc.813d84"
            ]
        ]
    },
    {
        "id": "f9dba8e5.51d4e",
        "type": "switch",
        "z": "b19d2de2.d6a79",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "triggerTimeMs",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "triggerTimeISO",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 390,
        "y": 140,
        "wires": [
            [
                "b8b90175.fca578"
            ],
            [
                "475c54c5.c6ef64"
            ],
            [
                "7f55b086.d83be"
            ]
        ]
    },
    {
        "id": "7f55b086.d83be",
        "type": "function",
        "z": "b19d2de2.d6a79",
        "name": "Add triggerTimeMs",
        "func": "msg.triggerTimeMs = new Date().getTime()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 180,
        "wires": [
            [
                "5024946e.d65f3c"
            ]
        ]
    },
    {
        "id": "1115cd00.eb3f3b",
        "type": "debug",
        "z": "b19d2de2.d6a79",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1450,
        "y": 700,
        "wires": []
    },
    {
        "id": "4bacfc32.e71ae4",
        "type": "function",
        "z": "b19d2de2.d6a79",
        "name": "Date",
        "func": "msg.triggerTimeMs = msg.triggerTimeDate.getTime()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 140,
        "wires": [
            [
                "5024946e.d65f3c"
            ]
        ]
    },
    {
        "id": "b8b90175.fca578",
        "type": "function",
        "z": "b19d2de2.d6a79",
        "name": "Asign triggerTimeMs",
        "func": "msg.triggerTimeMs = msg.payload.triggerTimeMs\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 100,
        "wires": [
            [
                "5024946e.d65f3c"
            ]
        ]
    },
    {
        "id": "49fd0459.99431c",
        "type": "function",
        "z": "b19d2de2.d6a79",
        "name": "Post-processing",
        "func": "msg.payload = msg.inboundPayload\nmsg.statusCode = 200\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1280,
        "y": 140,
        "wires": [
            [
                "cc6b12fe.1ad8d8",
                "b4cd0c04.d7381"
            ]
        ]
    },
    {
        "id": "cc6b12fe.1ad8d8",
        "type": "http response",
        "z": "b19d2de2.d6a79",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1450,
        "y": 140,
        "wires": []
    },
    {
        "id": "ddfe2dc9.4f4548",
        "type": "comment",
        "z": "b19d2de2.d6a79",
        "name": "DELETE Tasks",
        "info": "",
        "x": 100,
        "y": 760,
        "wires": []
    },
    {
        "id": "5ae5715d.4353b",
        "type": "http in",
        "z": "b19d2de2.d6a79",
        "name": "",
        "url": "/tasks",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 800,
        "wires": [
            [
                "6111605c.6f0388"
            ]
        ]
    },
    {
        "id": "6111605c.6f0388",
        "type": "function",
        "z": "b19d2de2.d6a79",
        "name": "Pre-Process",
        "func": "msg.payload = [ \"-inf\", \"+inf\" ]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 800,
        "wires": [
            [
                "d20a0e28.3647d"
            ]
        ]
    },
    {
        "id": "a65028ae.5278a8",
        "type": "http response",
        "z": "b19d2de2.d6a79",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1450,
        "y": 780,
        "wires": []
    },
    {
        "id": "d0f0e812.a738e",
        "type": "function",
        "z": "b19d2de2.d6a79",
        "name": "Loop on Details",
        "func": "let redis = context.flow.get('redis');\n\n/*\nredis.info().then((data)=>{\n    msg.payload = data\n    node.send(msg);\n})\n*/\n\ntasks = msg.payload\nmsg.payload = {}\nmsg.payload.tasks = []\n\nfor (var j = 0; j < tasks.length; j++) {\n    task = tasks[j]\n\n    redis.call(\"hdel\", \"taskDetails\", task).then((data)=>{\n        \n    })\n}\n\nredis.call(\"del\", \"tasks\").then((data)=>{\n    \n})\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1280,
        "y": 800,
        "wires": [
            [
                "a65028ae.5278a8",
                "f19ff70e.93959"
            ]
        ]
    },
    {
        "id": "f19ff70e.93959",
        "type": "debug",
        "z": "b19d2de2.d6a79",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1450,
        "y": 820,
        "wires": []
    },
    {
        "id": "28df79c8.11abd6",
        "type": "comment",
        "z": "b19d2de2.d6a79",
        "name": "DELETE Task",
        "info": "",
        "x": 90,
        "y": 220,
        "wires": []
    },
    {
        "id": "ad1a05e1.2e8e7",
        "type": "http in",
        "z": "b19d2de2.d6a79",
        "name": "",
        "url": "/tasks/:id",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "e0ad37f9.5ff77"
            ]
        ]
    },
    {
        "id": "e027a9de.daeff",
        "type": "function",
        "z": "b19d2de2.d6a79",
        "name": "TimeIndex",
        "func": "msg.payload = [ msg.id ]\nmsg.topic = \"tasks\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 260,
        "wires": [
            [
                "e9c12ce9.39b7a"
            ]
        ]
    },
    {
        "id": "71aab919.9980b",
        "type": "http response",
        "z": "b19d2de2.d6a79",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1450,
        "y": 260,
        "wires": []
    },
    {
        "id": "68c07cec.52b1b4",
        "type": "debug",
        "z": "b19d2de2.d6a79",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1450,
        "y": 300,
        "wires": []
    },
    {
        "id": "e9319f35.5786b8",
        "type": "catch",
        "z": "d6af186b.004918",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 240,
        "y": 660,
        "wires": [
            [
                "fa07d08a.86bc48"
            ]
        ]
    },
    {
        "id": "fa07d08a.86bc48",
        "type": "debug",
        "z": "d6af186b.004918",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 910,
        "y": 660,
        "wires": []
    },
    {
        "id": "995641a4.2c20e8",
        "type": "redis-in",
        "z": "d6af186b.004918",
        "server": "5ed67383.5985ac",
        "command": "subscribe",
        "name": "",
        "topic": "queueTaskExecute",
        "timeout": 0,
        "x": 210,
        "y": 520,
        "wires": [
            [
                "7fd44d84.4c95bc",
                "b652eeef.95c358"
            ]
        ]
    },
    {
        "id": "e9c12ce9.39b7a",
        "type": "redis-command",
        "z": "b19d2de2.d6a79",
        "server": "5ed67383.5985ac",
        "command": "zrem",
        "name": "",
        "topic": "tasks",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 620,
        "y": 300,
        "wires": [
            [
                "f6bff892.cda778"
            ]
        ]
    },
    {
        "id": "43ddd81a.7b55b",
        "type": "redis-command",
        "z": "b19d2de2.d6a79",
        "server": "5ed67383.5985ac",
        "command": "hdel",
        "name": "",
        "topic": "tasksDetails",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 860,
        "y": 300,
        "wires": [
            [
                "3bfa78ae.33472"
            ]
        ]
    },
    {
        "id": "d20a0e28.3647d",
        "type": "redis-command",
        "z": "b19d2de2.d6a79",
        "server": "5ed67383.5985ac",
        "command": "zrangebyscore",
        "name": "",
        "topic": "tasks",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 870,
        "y": 800,
        "wires": [
            [
                "d0f0e812.a738e"
            ]
        ]
    },
    {
        "id": "f6bff892.cda778",
        "type": "function",
        "z": "b19d2de2.d6a79",
        "name": "UserData",
        "func": "msg.payload = [ msg.id ]\nmsg.topic = \"tasksDetails\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 260,
        "wires": [
            [
                "43ddd81a.7b55b"
            ]
        ]
    },
    {
        "id": "9cf76a83.57d058",
        "type": "function",
        "z": "b19d2de2.d6a79",
        "name": "Post-processing",
        "func": "msg.payload = {}\nmsg.statusCode = 200\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1280,
        "y": 280,
        "wires": [
            [
                "71aab919.9980b",
                "68c07cec.52b1b4"
            ]
        ]
    },
    {
        "id": "760dbf4b.707fa",
        "type": "telegram receiver",
        "z": "d6af186b.004918",
        "name": "Ghostgbot",
        "bot": "28c31e1f.031b7a",
        "saveDataDir": "/tmp",
        "x": 240,
        "y": 300,
        "wires": [
            [
                "26584add.21e286",
                "e9ba981a.08704"
            ],
            [
                "1b1ab33f.e9b9ad"
            ]
        ]
    },
    {
        "id": "26584add.21e286",
        "type": "debug",
        "z": "d6af186b.004918",
        "name": "std",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 450,
        "y": 380,
        "wires": []
    },
    {
        "id": "69aa5ab8.7423bc",
        "type": "redis-in",
        "z": "b19d2de2.d6a79",
        "server": "5ed67383.5985ac",
        "command": "subscribe",
        "name": "",
        "topic": "queueTaskDelete",
        "timeout": 0,
        "x": 220,
        "y": 300,
        "wires": [
            [
                "8b0ace59.bb08d"
            ]
        ]
    },
    {
        "id": "e0ad37f9.5ff77",
        "type": "function",
        "z": "b19d2de2.d6a79",
        "name": "",
        "func": "msg.id = msg.req.params.id\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 260,
        "wires": [
            [
                "e027a9de.daeff"
            ]
        ]
    },
    {
        "id": "49072487.d36ddc",
        "type": "websocket in",
        "z": "d6af186b.004918",
        "name": "",
        "server": "ad6fda06.930828",
        "client": "",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "6e9628a7.c325a"
            ]
        ]
    },
    {
        "id": "6e9628a7.c325a",
        "type": "json",
        "z": "d6af186b.004918",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 100,
        "wires": [
            [
                "a772dc08.4917c"
            ]
        ]
    },
    {
        "id": "6625e861.2ba06",
        "type": "comment",
        "z": "d6af186b.004918",
        "name": "Listen & Broadcast events - Agents",
        "info": "",
        "x": 160,
        "y": 60,
        "wires": []
    },
    {
        "id": "7fd44d84.4c95bc",
        "type": "change",
        "z": "d6af186b.004918",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "telegramID",
                "pt": "global",
                "to": "payload.telegramID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 520,
        "wires": [
            [
                "27bd0690.bbba72"
            ]
        ]
    },
    {
        "id": "2669675d.d9ce08",
        "type": "function",
        "z": "d6af186b.004918",
        "name": "Pre-process",
        "func": "return {\n    payload: {\n        timestamp: msg.originalMessage.date,\n        username: msg.originalMessage.from.username,\n        msg: msg.payload.content\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 320,
        "wires": [
            [
                "b70610ba.a6882"
            ]
        ]
    },
    {
        "id": "6665c8db.1d1218",
        "type": "comment",
        "z": "d6af186b.004918",
        "name": "Open initial Chat",
        "info": "",
        "x": 100,
        "y": 480,
        "wires": []
    },
    {
        "id": "8b0ace59.bb08d",
        "type": "function",
        "z": "b19d2de2.d6a79",
        "name": "",
        "func": "msg.id = msg.payload.id\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 300,
        "wires": [
            [
                "e027a9de.daeff"
            ]
        ]
    },
    {
        "id": "3bfa78ae.33472",
        "type": "switch",
        "z": "b19d2de2.d6a79",
        "name": "",
        "property": "req",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 280,
        "wires": [
            [
                "9cf76a83.57d058"
            ],
            []
        ]
    },
    {
        "id": "951b321b.014c7",
        "type": "function",
        "z": "d6af186b.004918",
        "name": "create log string",
        "func": "var chatId = msg.payload.chatId;\nvar username = msg.originalMessage.from.username;\nmsg.originalMessage.timestamp = new Date();\nvar message = JSON.stringify(msg.originalMessage);\n\nmsg.topic = username + ' ' + chatId;\nmsg.payload = [msg.topic, message];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 700,
        "wires": [
            [
                "81d73a66.9cef9"
            ]
        ]
    },
    {
        "id": "81d73a66.9cef9",
        "type": "file",
        "z": "d6af186b.004918",
        "name": "LogFile",
        "filename": "/var/log/telegram-unauthorized.log",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 710,
        "y": 700,
        "wires": [
            [
                "6dd4f2bf.169a4c"
            ]
        ]
    },
    {
        "id": "6dd4f2bf.169a4c",
        "type": "debug",
        "z": "d6af186b.004918",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 910,
        "y": 700,
        "wires": []
    },
    {
        "id": "1b1ab33f.e9b9ad",
        "type": "redis-out",
        "z": "d6af186b.004918",
        "server": "5ed67383.5985ac",
        "command": "publish",
        "name": "",
        "topic": "telegramError",
        "x": 470,
        "y": 420,
        "wires": []
    },
    {
        "id": "4aad9146.753468",
        "type": "redis-in",
        "z": "d6af186b.004918",
        "server": "5ed67383.5985ac",
        "command": "subscribe",
        "name": "telegramError",
        "topic": "telegramError",
        "timeout": 0,
        "x": 230,
        "y": 700,
        "wires": [
            [
                "951b321b.014c7"
            ]
        ]
    },
    {
        "id": "a26fd5ef.fa8028",
        "type": "comment",
        "z": "d6af186b.004918",
        "name": "Error Handling",
        "info": "",
        "x": 90,
        "y": 620,
        "wires": []
    },
    {
        "id": "3aaabe7.c25bb42",
        "type": "function",
        "z": "a2bbb6f1.3942c8",
        "name": "confirmation message",
        "func": "context.global.keyboard = { pending : true };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Yes'],\n      ['No']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\nmsg.payload.content = 'Really?';\nmsg.payload.options = opts;\n\nreturn [ msg ];\n",
        "outputs": "1",
        "noerr": 0,
        "x": 440,
        "y": 220,
        "wires": [
            [
                "b7d05022.af184"
            ]
        ]
    },
    {
        "id": "984d4a25.5e5e4",
        "type": "telegram command",
        "z": "a2bbb6f1.3942c8",
        "name": "/chatnow",
        "command": "/chatnow",
        "bot": "28c31e1f.031b7a",
        "strict": false,
        "x": 240,
        "y": 220,
        "wires": [
            [
                "3aaabe7.c25bb42"
            ],
            [
                "5f8c2dc5.910aac",
                "b358a395.165c48"
            ]
        ]
    },
    {
        "id": "5f8c2dc5.910aac",
        "type": "function",
        "z": "a2bbb6f1.3942c8",
        "name": "create response",
        "func": "if(context.global.keyboard.pending)\n{\n    context.global.keyboard.pending = false;\n    \n    if(msg.payload.content === 'Yes')\n    {\n        msg.payload.content = 'Yes';\n        return [msg, null];   \n    }\n    else\n    {\n        msg.payload.content = 'No';\n        return [null, msg];   \n    }\n}\n",
        "outputs": "2",
        "noerr": 0,
        "x": 420,
        "y": 260,
        "wires": [
            [
                "b7d05022.af184"
            ],
            []
        ]
    },
    {
        "id": "b7d05022.af184",
        "type": "telegram sender",
        "z": "a2bbb6f1.3942c8",
        "name": "send response",
        "bot": "28c31e1f.031b7a",
        "x": 700,
        "y": 220,
        "wires": [
            [
                "aff4012.3c0b08"
            ]
        ]
    },
    {
        "id": "f82d84e2.48818",
        "type": "telegram command",
        "z": "a2bbb6f1.3942c8",
        "name": "/help",
        "command": "/help",
        "bot": "28c31e1f.031b7a",
        "strict": false,
        "x": 250,
        "y": 100,
        "wires": [
            [
                "11cee1c4.855d4e"
            ],
            [
                "a964f05.6493c1"
            ]
        ]
    },
    {
        "id": "11cee1c4.855d4e",
        "type": "function",
        "z": "a2bbb6f1.3942c8",
        "name": "create help text",
        "func": "var helpMessage = \"/help - shows help\\n\";\nhelpMessage += \"/chatnow - trigger a chat conversation\\n\";\n\nhelpMessage += \"Your chat id is \" + msg.payload.chatId + \"\\n\";\nhelpMessage += \"You are welcome: \"+ msg.originalMessage.from.username + \"\\n\";\n\nmsg.payload.content = helpMessage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 100,
        "wires": [
            [
                "b7d05022.af184"
            ]
        ]
    },
    {
        "id": "89e3ee62.2e2bb8",
        "type": "telegram receiver",
        "z": "a2bbb6f1.3942c8",
        "name": "location",
        "bot": "28c31e1f.031b7a",
        "saveDataDir": "",
        "x": 250,
        "y": 360,
        "wires": [
            [
                "57795a01.fe5664"
            ],
            [
                "d94e5427.0e0c28"
            ]
        ]
    },
    {
        "id": "57795a01.fe5664",
        "type": "function",
        "z": "a2bbb6f1.3942c8",
        "name": "create location message",
        "func": "if(msg.payload.type == 'location')\n{\n    var lat = msg.payload.content.latitude;\n    var lng = msg.payload.content.longitude;\n    \n    msg.payload.type = 'message';\n    msg.payload.content = 'lat=' + lat + ' lon=' + lng;\n    return msg;\n}\nelse\n{\n    return null;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 360,
        "wires": [
            [
                "b7d05022.af184"
            ]
        ]
    },
    {
        "id": "5ffba75e.1292b",
        "type": "inject",
        "z": "a2bbb6f1.3942c8",
        "name": "ping",
        "topic": "",
        "payload": "ping",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 250,
        "y": 440,
        "wires": [
            [
                "93879e6.2c9e7e"
            ]
        ]
    },
    {
        "id": "93879e6.2c9e7e",
        "type": "function",
        "z": "a2bbb6f1.3942c8",
        "name": "send to specific chat",
        "func": "msg.payload = { \n    chatId : global.get('telegramID'), \n    type : 'message', \n    content : 'ping'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 440,
        "wires": [
            [
                "b7d05022.af184"
            ]
        ]
    },
    {
        "id": "a964f05.6493c1",
        "type": "redis-out",
        "z": "a2bbb6f1.3942c8",
        "server": "5ed67383.5985ac",
        "command": "publish",
        "name": "",
        "topic": "telegramError",
        "x": 430,
        "y": 140,
        "wires": []
    },
    {
        "id": "b358a395.165c48",
        "type": "debug",
        "z": "a2bbb6f1.3942c8",
        "name": "Debug",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 390,
        "y": 300,
        "wires": []
    },
    {
        "id": "d94e5427.0e0c28",
        "type": "redis-out",
        "z": "a2bbb6f1.3942c8",
        "server": "5ed67383.5985ac",
        "command": "publish",
        "name": "",
        "topic": "telegramError",
        "x": 410,
        "y": 400,
        "wires": []
    },
    {
        "id": "aff4012.3c0b08",
        "type": "debug",
        "z": "a2bbb6f1.3942c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 890,
        "y": 220,
        "wires": []
    },
    {
        "id": "5278803b.8da13",
        "type": "comment",
        "z": "b19d2de2.d6a79",
        "name": "UPDATE Task",
        "info": "",
        "x": 90,
        "y": 360,
        "wires": []
    },
    {
        "id": "cee905f6.dc7cb",
        "type": "http in",
        "z": "b19d2de2.d6a79",
        "name": "",
        "url": "/tasks/:id",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 400,
        "wires": [
            [
                "bfbfe049.444d1"
            ]
        ]
    },
    {
        "id": "d1dbf37e.6726a",
        "type": "http response",
        "z": "b19d2de2.d6a79",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1450,
        "y": 400,
        "wires": []
    },
    {
        "id": "28bff97d.b85ec6",
        "type": "debug",
        "z": "b19d2de2.d6a79",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1450,
        "y": 440,
        "wires": []
    },
    {
        "id": "a5ff76c5.56d458",
        "type": "redis-command",
        "z": "b19d2de2.d6a79",
        "server": "5ed67383.5985ac",
        "command": "hset",
        "name": "",
        "topic": "tasksDetails",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 860,
        "y": 420,
        "wires": [
            [
                "7aca5179.9a7ef"
            ]
        ]
    },
    {
        "id": "1cc9204.8fbcf6",
        "type": "function",
        "z": "b19d2de2.d6a79",
        "name": "UserData",
        "func": "// park payload\nmsg.inboundPayload = msg.payload\n\n// enhance parked payload\nmsg.inboundPayload.id = msg.id\n\n// build storage request\nmsg.payload = [ msg.id, JSON.stringify(msg.inboundPayload) ]\nmsg.topic = \"taskDetails\"\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 420,
        "wires": [
            [
                "a5ff76c5.56d458"
            ]
        ]
    },
    {
        "id": "fb85da81.cdfab8",
        "type": "function",
        "z": "b19d2de2.d6a79",
        "name": "Post-processing",
        "func": "msg.payload = {}\nmsg.statusCode = 200\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1280,
        "y": 420,
        "wires": [
            [
                "d1dbf37e.6726a",
                "28bff97d.b85ec6"
            ]
        ]
    },
    {
        "id": "f7f59166.06172",
        "type": "redis-in",
        "z": "b19d2de2.d6a79",
        "server": "5ed67383.5985ac",
        "command": "subscribe",
        "name": "",
        "topic": "queueTaskUpdate",
        "timeout": 0,
        "x": 220,
        "y": 440,
        "wires": [
            [
                "9477be8a.91f2"
            ]
        ]
    },
    {
        "id": "bfbfe049.444d1",
        "type": "function",
        "z": "b19d2de2.d6a79",
        "name": "",
        "func": "msg.id = msg.req.params.id\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 400,
        "wires": [
            [
                "1cc9204.8fbcf6"
            ]
        ]
    },
    {
        "id": "9477be8a.91f2",
        "type": "function",
        "z": "b19d2de2.d6a79",
        "name": "",
        "func": "msg.id = msg.payload.id\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 440,
        "wires": [
            [
                "1cc9204.8fbcf6"
            ]
        ]
    },
    {
        "id": "7aca5179.9a7ef",
        "type": "switch",
        "z": "b19d2de2.d6a79",
        "name": "",
        "property": "req",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 420,
        "wires": [
            [
                "fb85da81.cdfab8"
            ],
            []
        ]
    },
    {
        "id": "16436ac3.64aa5d",
        "type": "comment",
        "z": "b19d2de2.d6a79",
        "name": "GET Task",
        "info": "",
        "x": 80,
        "y": 500,
        "wires": []
    },
    {
        "id": "72ae910c.e5a1d8",
        "type": "http in",
        "z": "b19d2de2.d6a79",
        "name": "",
        "url": "/tasks/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 540,
        "wires": [
            [
                "4675e36c.a5a17c"
            ]
        ]
    },
    {
        "id": "423f4e94.48b33",
        "type": "http response",
        "z": "b19d2de2.d6a79",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1450,
        "y": 540,
        "wires": []
    },
    {
        "id": "2504ae76.516f52",
        "type": "function",
        "z": "b19d2de2.d6a79",
        "name": "UserData",
        "func": "//msg.payload = msg.id\n//msg.topic = \"tasksDetails\"\n//return msg\n\nlet redis = context.flow.get('redis');\n\nmsg.payload = {}\nredis.call(\"hget\", \"taskDetails\", msg.id).then((data)=>{\n    taskJSON = data\n    msg.payload = JSON.parse(taskJSON)\n})\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 540,
        "wires": [
            [
                "db5f0369.91c248"
            ]
        ]
    },
    {
        "id": "611c334.db28b4c",
        "type": "function",
        "z": "b19d2de2.d6a79",
        "name": "Post-processing",
        "func": "msg.statusCode = 200\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1280,
        "y": 540,
        "wires": [
            [
                "423f4e94.48b33"
            ]
        ]
    },
    {
        "id": "a7a74560.347bc",
        "type": "redis-in",
        "z": "b19d2de2.d6a79",
        "server": "5ed67383.5985ac",
        "command": "subscribe",
        "name": "",
        "topic": "queueTaskGet",
        "timeout": 0,
        "x": 230,
        "y": 580,
        "wires": [
            [
                "6c2c83bc.edc46c"
            ]
        ]
    },
    {
        "id": "4675e36c.a5a17c",
        "type": "function",
        "z": "b19d2de2.d6a79",
        "name": "",
        "func": "msg.id = msg.req.params.id\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 540,
        "wires": [
            [
                "2504ae76.516f52"
            ]
        ]
    },
    {
        "id": "6c2c83bc.edc46c",
        "type": "function",
        "z": "b19d2de2.d6a79",
        "name": "",
        "func": "msg.id = msg.payload.id\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 580,
        "wires": [
            [
                "2504ae76.516f52"
            ]
        ]
    },
    {
        "id": "db5f0369.91c248",
        "type": "switch",
        "z": "b19d2de2.d6a79",
        "name": "",
        "property": "req",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 540,
        "wires": [
            [
                "611c334.db28b4c"
            ],
            []
        ]
    },
    {
        "id": "d4dd0a4c.53bd58",
        "type": "telegram sender",
        "z": "d6af186b.004918",
        "name": "Ghostgbot",
        "bot": "28c31e1f.031b7a",
        "x": 1280,
        "y": 340,
        "wires": [
            [
                "56e0b46a.3b22d4"
            ]
        ]
    },
    {
        "id": "56e0b46a.3b22d4",
        "type": "debug",
        "z": "d6af186b.004918",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1410,
        "y": 340,
        "wires": []
    },
    {
        "id": "b70610ba.a6882",
        "type": "sentiment",
        "z": "d6af186b.004918",
        "name": "",
        "property": "payload.msg",
        "x": 960,
        "y": 100,
        "wires": [
            [
                "8397b601.6470a8"
            ]
        ]
    },
    {
        "id": "5a8578e4.615bc",
        "type": "websocket out",
        "z": "d6af186b.004918",
        "name": "",
        "server": "f3eba521.b2e75",
        "client": "",
        "x": 1320,
        "y": 100,
        "wires": []
    },
    {
        "id": "8397b601.6470a8",
        "type": "function",
        "z": "d6af186b.004918",
        "name": "format message",
        "func": "return {\n    payload: {\n        timestamp: msg.payload.timestamp,\n        username: msg.payload.username,\n        msg: msg.payload.msg,\n        sentiment: msg.sentiment.score\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1120,
        "y": 100,
        "wires": [
            [
                "5a8578e4.615bc"
            ]
        ]
    },
    {
        "id": "364749a5.6099fe",
        "type": "comment",
        "z": "b19d2de2.d6a79",
        "name": "ERROR Handler",
        "info": "",
        "x": 100,
        "y": 1000,
        "wires": []
    },
    {
        "id": "67780b5b.980f14",
        "type": "redis-instance",
        "z": "b19d2de2.d6a79",
        "server": "5ed67383.5985ac",
        "name": "",
        "topic": "redis",
        "location": "flow",
        "block": false,
        "x": 230,
        "y": 640,
        "wires": []
    },
    {
        "id": "760a9f27.0253d",
        "type": "inject",
        "z": "b19d2de2.d6a79",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": "60",
        "x": 230,
        "y": 920,
        "wires": [
            [
                "8375e83f.ada5f"
            ]
        ]
    },
    {
        "id": "8d95fca6.d9f27",
        "type": "redis-command",
        "z": "b19d2de2.d6a79",
        "server": "5ed67383.5985ac",
        "command": "zrangebyscore",
        "name": "",
        "topic": "tasks",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 870,
        "y": 920,
        "wires": [
            [
                "6d441a4f.457404"
            ]
        ]
    },
    {
        "id": "8375e83f.ada5f",
        "type": "function",
        "z": "b19d2de2.d6a79",
        "name": "Pre-Process",
        "func": "msg.payload = [ \"-inf\", \"\" + new Date().getTime() ]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 920,
        "wires": [
            [
                "8d95fca6.d9f27"
            ]
        ]
    },
    {
        "id": "99a8fc23.6aa9e8",
        "type": "debug",
        "z": "b19d2de2.d6a79",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1450,
        "y": 900,
        "wires": []
    },
    {
        "id": "b600c242.96501",
        "type": "comment",
        "z": "b19d2de2.d6a79",
        "name": "CRON @ 10s",
        "info": "",
        "x": 90,
        "y": 880,
        "wires": []
    },
    {
        "id": "6d441a4f.457404",
        "type": "function",
        "z": "b19d2de2.d6a79",
        "name": "Post-processing",
        "func": "let redis = context.flow.get('redis');\n\n/*\nredis.info().then((data)=>{\n    msg.payload = data\n    node.send(msg);\n})\n*/\n\ntasks = msg.payload\nfor (var j = 0; j < tasks.length; j++) {\n    task = tasks[j]\n\n    redis.call(\"hget\", \"taskDetails\", task).then((data)=>{\n        taskJSON = JSON.parse(data)\n        node.send( { payload: taskJSON } );\n    })\n}\n\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "x": 1280,
        "y": 920,
        "wires": [
            [
                "99a8fc23.6aa9e8",
                "976e3333.7e8e38",
                "d274717d.cc092"
            ]
        ]
    },
    {
        "id": "976e3333.7e8e38",
        "type": "redis-out",
        "z": "b19d2de2.d6a79",
        "server": "5ed67383.5985ac",
        "command": "publish",
        "name": "",
        "topic": "queueTaskExecute",
        "x": 1490,
        "y": 940,
        "wires": []
    },
    {
        "id": "d274717d.cc092",
        "type": "redis-out",
        "z": "b19d2de2.d6a79",
        "server": "5ed67383.5985ac",
        "command": "publish",
        "name": "queueTaskDelete",
        "topic": "queueTaskDelete",
        "x": 1480,
        "y": 980,
        "wires": []
    },
    {
        "id": "b652eeef.95c358",
        "type": "debug",
        "z": "d6af186b.004918",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 370,
        "y": 560,
        "wires": []
    },
    {
        "id": "fd31b76f.e594c",
        "type": "catch",
        "z": "a2bbb6f1.3942c8",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 240,
        "y": 580,
        "wires": [
            [
                "82027170.0f66f8"
            ]
        ]
    },
    {
        "id": "82027170.0f66f8",
        "type": "debug",
        "z": "a2bbb6f1.3942c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1450,
        "y": 580,
        "wires": []
    },
    {
        "id": "cc51d0c8.b353a",
        "type": "comment",
        "z": "a2bbb6f1.3942c8",
        "name": "ERROR Handler",
        "info": "",
        "x": 100,
        "y": 540,
        "wires": []
    },
    {
        "id": "e71bb253.fb90f",
        "type": "comment",
        "z": "a2bbb6f1.3942c8",
        "name": "Conversions Handler",
        "info": "",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "1d7ccf75.8756f1",
        "type": "websocket in",
        "z": "d6af186b.004918",
        "name": "",
        "server": "f6bb74c5.558b4",
        "client": "",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "505eb204.6b01b4"
            ]
        ]
    },
    {
        "id": "505eb204.6b01b4",
        "type": "json",
        "z": "d6af186b.004918",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "918ee78a.f5f61"
            ]
        ]
    },
    {
        "id": "e583580a.898e5",
        "type": "websocket out",
        "z": "d6af186b.004918",
        "name": "",
        "server": "bb3776ec.76bac8",
        "client": "",
        "x": 1330,
        "y": 240,
        "wires": []
    },
    {
        "id": "3e1985fd.5329ba",
        "type": "function",
        "z": "d6af186b.004918",
        "name": "format message",
        "func": "return {\n    payload: {\n        timestamp: msg.payload.timestamp,\n        username: msg.payload.username,\n        msg: msg.payload.msg\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1120,
        "y": 240,
        "wires": [
            [
                "e583580a.898e5"
            ]
        ]
    },
    {
        "id": "a772dc08.4917c",
        "type": "function",
        "z": "d6af186b.004918",
        "name": "Pre-process",
        "func": "msg.payload.username = msg.payload.agent_id\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 100,
        "wires": [
            [
                "b70610ba.a6882",
                "d8a55266.23ceb"
            ]
        ]
    },
    {
        "id": "918ee78a.f5f61",
        "type": "function",
        "z": "d6af186b.004918",
        "name": "Pre-process",
        "func": "msg.payload.username = msg.payload.customer_id\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 240,
        "wires": [
            [
                "3e1985fd.5329ba",
                "b70610ba.a6882"
            ]
        ]
    },
    {
        "id": "c15d5ced.1d9478",
        "type": "function",
        "z": "d6af186b.004918",
        "name": "format message",
        "func": "return {\n    payload: {\n        \"chatId\":  msg.payload.chatId,\n        \"type\": \"message\",\n        \"options\": { \"parse_mode\": \"Markdown\" },\n        \"content\": msg.payload.username + \": \" + msg.payload.msg\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1120,
        "y": 340,
        "wires": [
            [
                "d4dd0a4c.53bd58"
            ]
        ]
    },
    {
        "id": "df247d53.e44cd",
        "type": "comment",
        "z": "d6af186b.004918",
        "name": "Listen & Broadcast events - Customers",
        "info": "",
        "x": 170,
        "y": 200,
        "wires": []
    },
    {
        "id": "e9ba981a.08704",
        "type": "change",
        "z": "d6af186b.004918",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "telegramID",
                "pt": "global",
                "to": "payload.chatId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 320,
        "wires": [
            [
                "2669675d.d9ce08"
            ]
        ]
    },
    {
        "id": "a455fb1a.9d3a6",
        "type": "change",
        "z": "d6af186b.004918",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "telegramID",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 340,
        "wires": [
            [
                "c15d5ced.1d9478"
            ]
        ]
    },
    {
        "id": "d8a55266.23ceb",
        "type": "switch",
        "z": "d6af186b.004918",
        "name": "",
        "property": "telegramID",
        "propertyType": "global",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 710,
        "y": 140,
        "wires": [
            [
                "3e1985fd.5329ba"
            ],
            [
                "a455fb1a.9d3a6"
            ]
        ]
    }
]